<ion-header>
    <ion-icon class="pointer" name="arrow-back" color="medium" style="height: 40px; width: 40px;" (click)="back()"></ion-icon>
    <div class="headerImg"
         [ngStyle]="{'background-image': 'url('+(cuisineId==userService.userInfo.uid ? user().photo : cuisine().photos[0])+')'}"></div>
    <ion-title>{{cuisineId == userService.userInfo.uid ? user().prenom : cuisine().nom}}</ion-title>
</ion-header>
<ion-content [scrollEvents]="true">
    <div style="width: 100%; height: 100%; display: flex; justify-content: center">
        <div class="maxWidth">
            <div class="main" *ngIf="chatData?.length>0; else noMessages">
                <div class="message" *ngFor="let message of chatData; let i = index">
                    <div *ngIf="(message.auteur !== userService.userInfo.uid); else myMessage" style="width: 100%">
                        <div class="time" *ngIf="testaffichDate(i, message)">
                            {{ message.date | date:'d MMM'}}
                            à {{message.date | date:'HH:mm'}}
                            par {{cuisineId == userService.userInfo.uid ? user().prenom : cuisine().nom}}
                        </div>
                        <div class="messagesCuisine" *ngIf="testaffichImg(i, message);else space">
                            <div class="cuisineImg"
                                 [ngStyle]="{'background-image': 'url('+(cuisineId==userService.userInfo.uid ? user().photo : cuisine().photos[0])+')'}"></div>
                            <div>
                                <p>{{message.message}}</p>
                            </div>
                        </div>
                        <ng-template #space>
                            <div style="margin-left: 52px" *ngIf="message.message!='👍'; else thumb">
                                <p>{{message.message}}</p>
                            </div>
                            <ng-template #thumb>
                                <ion-icon style="margin-left: 52px" name="thumbs-up" color="primary"
                                          size="large"></ion-icon>
                            </ng-template>
                        </ng-template>
                    </div>
                    <ng-template #myMessage style="width: 100%">
                        <div class="ion-text-end" style="width: 100%; padding-left: 50px">
                            <div class="time"
                                 *ngIf="testaffichDate(i, message)">{{ message.date | date:'d MMM'}}
                                à {{message.date | date:'HH:mm'}}</div>
                            <p style="background: lightblue">{{message.message}}</p>
                        </div>
                    </ng-template>
                </div>
            </div>
            <ng-template #noMessages>
                <div style="height: 100%" class="ion-padding-vertical">
                    <ion-text class="ion-text-center" color="medium">
                        <p>Démarrez la conversation</p>
                    </ion-text>
                </div>
            </ng-template>
        </div>
    </div>
</ion-content>

<ion-footer>
    <div style="width: 100%; height: 100%; display: flex; justify-content: center">
        <div class="maxWidth" style="display: flex; align-items: center">
            <div class="send">
                <ion-textarea autoGrow placeholder="Ecrivez votre message" [(ngModel)]="messageContent"
                              (ionChange)="onAutoFormatChanged()"
                              (keyup.enter)="sendMessage()" rows="1" style="margin: 8px"></ion-textarea>
            </div>
            <ion-icon name="send" (click)=sendMessage() color="customthird" *ngIf="messageContent!=''"></ion-icon>
        </div>
    </div>
</ion-footer>
