ion-header{
  display: flex;
  align-items: center;
  padding: 10px 10px 0 10px;
  background: white;
  color: var(--ion-color-dark);

  .headerImg {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 10px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  ion-title{
    padding-left: 10px;
  }
}

.main {
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  padding-top: -10px;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;

  .message {

    p {
      display: inline-block;
      font-size: 13px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
      padding: 10px 15px 10px 7px;
      margin-top: 0px;
      margin-bottom: 2px;
      background: whitesmoke;
      border-radius: 10px;
    }
  }

  .time {
    color: black;
    padding-left: 50px;
    margin-bottom: 0;
    padding-bottom: 5px;
    line-height: 1em;
    font-weight: bold;
    font-size: xx-small;
    padding-top: 10px;
  }
}

.messagesCuisine {
  display: flex;
  align-items: center;

  .cuisineImg {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 10px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

ion-footer{
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color: var(--ion-color-dark);
  .send{
    border: solid lightgray 1px;
    border-radius: 25px;
    width: 100%;
  }
  ion-icon{
    padding: 5px;
    width: 30px;
    height: 30px;
  }
}