<div class="content pointer" [ngStyle]="{'background-color': getBackgroundColor() }" (click)="onClick()">
    <ion-item>
        <ion-avatar slot="start">
            <img [src]="notif.cuisine==userService.userInfo.uid ? getUser().photo : getCuisine().photos[0]">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
            <div class="titleNotif">
                {{notif.cuisine==userService.userInfo.uid ? getUser().prenom : getCuisine().nom}}
            </div>
            <p class="body">
                {{notif.text}}
            </p>
        </ion-label>
        <ion-fab horizontal="end" vertical="top" >
            <div class="ion-text-end date">
                {{getDateToAffich()}}
            </div>
        </ion-fab>
    </ion-item>
</div>
<!--<div class="content">
    <div class="avatar" [ngStyle]="{'background-image': 'url('+getCuisine().img+')'}"></div>
    <div class="contenu">
        <div class="header">
            <ion-text class="nomCuisine">
                {{getCuisine().nom}}
            </ion-text>
            <ion-text class="temps">
                temps
            </ion-text>
        </div>
        <ion-text class="message">
            {{notif.texte}}
        </ion-text>
    </div>
</div>-->
