.content{
  width:100%;

  ion-item{
    --background: transparent;

    .titleNotif{
      font-size: 15px;
      padding-right: 30px;
    }

    .date{
      font-size: 15px;
      right: 0;
      margin-top: 3px;
      position: absolute;
      color: grey;
    }

    .body{
      font-size: 12px;
    }
  }

}