<pinch-zoom backgroundColor="#121212" style="height: 100%">
    <img class="image"
         [ngStyle]="{
                    'visibility': getImageVisibility()
                 }"
         src="{{src}}"
         (load)="imageChargee()">
</pinch-zoom>
<ion-fab vertical="top" horizontal="start">
    <ion-icon color="light" name="arrow-back" size="large" (click)="back()"></ion-icon>
</ion-fab>
