<ion-header>
    <ion-toolbar color="danger">
        <ion-text class="title">Signaler {{cuisine().nom}}</ion-text>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding-horizontal ion-padding-vertical">
        <ion-text>
            Quel est le problème que rencontrez avec cette commande ?
        </ion-text>
    </div>
    <ion-select placeholder="Sélectionne un motif" [(ngModel)]="motif" interface="popover">
        <ion-select-option value="Mauvais comportement">Mauvais comportement</ion-select-option>
        <ion-select-option value="Absence">Absence au match</ion-select-option>
        <ion-select-option value="Autre">Autre</ion-select-option>
    </ion-select>
    <div *ngIf="motif=='Autre'" class="ion-padding-horizontal ion-padding-vertical">
        <ion-label>Motif du signalement :</ion-label>
        <ion-input placeholder="Précise le motif" [(ngModel)]="motifDescription">
        </ion-input>
    </div>

    <ion-item lines="none">
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                Annuler
            </ion-button>
            <ion-button color="danger" [disabled]="disabledBoutonConfirmer()" (click)="signaler()">
                Confirmer
            </ion-button>
        </ion-buttons>
    </ion-item>
</ion-content>
