<ion-item *ngFor="let country of countriesService.countries" (click)="onCountryClick(country)">
    <ion-avatar>
        <img src="{{'https://cdn.countryflags.com/thumbs/'+(country.name.toLowerCase())+'/flag-3d-round-250.png'}}">
    </ion-avatar>
    <ion-label>
        {{country.name}}
    </ion-label>
    <ion-text>
        {{country.dial_code}}
    </ion-text>
</ion-item>