<div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; background: var(--ion-color-customsecond); padding: 20px">
  <div style="font-size: 20px">Problème d'association à Stripe</div>
  <div style="padding: 20px 0; text-align: center">Votre compte Stripe n'a pas été associé à votre compte CookDay.</div>
  <ion-button (click)="goStripe()">Continuer l'association à Stripe</ion-button>
</div>
