<ion-header style="position: absolute">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="verticalAlign">
        <div style="font-weight: bold; font-size: 25px; margin: 0 10px 30px 10px;">
            <ion-text>
                Confirmez votre numéro de téléphone
            </ion-text>
        </div>
        <div style="margin: 0 10px 30px 10px;">
            <ion-text>
                Entrez le numéro de confirmation que nous vous avons envoyé par SMS
            </ion-text>
        </div>
        <div>
            <img src="assets/phoneChecked.png" style="width: 150px; height: 150px">
        </div>
        <div style="width: 100%; height: 100%; display: flex; justify-content: center">
            <div class="maxWidth">
                <div class="code maxWidth" style="display: flex" (click)="focus()">
                    <ion-input #input1 required maxLength="1" inputmode="decimal" [(ngModel)]="code[0]"
                               (keyup)="onInput()">
                    </ion-input>
                    <ion-input #input2 required maxLength="1" inputmode="decimal" [(ngModel)]="code[1]"
                               (keyup)="onInput()">
                    </ion-input>
                    <ion-input #input3 required maxLength="1" inputmode="decimal" [(ngModel)]="code[2]"
                               (keyup)="onInput()">
                    </ion-input>
                    <ion-input #input4 required maxLength="1" inputmode="decimal" [(ngModel)]="code[3]"
                               (keyup)="onInput()">
                    </ion-input>
                    <ion-input #input5 required maxLength="1" inputmode="decimal" [(ngModel)]="code[4]"
                               (keyup)="onInput()">
                    </ion-input>
                    <ion-input #input6 required maxLength="1" inputmode="decimal" [(ngModel)]="code[5]"
                               (keyup)="control()">
                    </ion-input>
                </div>
            </div>
        </div>
        <div style="margin: 0 10px 30px 10px;">
            <ion-text color="danger" *ngIf="showIncorrect">
                Le code rentré est incorrect
            </ion-text>
        </div>
        <div>
            <ion-text>
                Un problème ? <a (click)="renvoyerCode()" style="color: var(--ion-color-customthird)">Renvoyer
                le code</a>
            </ion-text>
        </div>
    </div>
</ion-content>

<div class="indicateursPages">
    <div>
        <ion-icon color="customsecond" name="ellipse-outline"></ion-icon>
        <ion-icon color="customsecond" name="ellipse"></ion-icon>
    </div>
</div>
