<ion-header *ngIf="hasNotRiddenMessages()">
    <ion-text (click)="toutMarquerLu()">
        Tout marquer comme lu
    </ion-text>
</ion-header>

<div *ngIf="userService.user?.notifs?.length>0; else pasDeNotifs">
    <div *ngFor="let notif of userService.getNotifs(); let i = index">
        <app-notif-item [notif]="notif"></app-notif-item>
    </div>
</div>

<ng-template #pasDeNotifs>
    <ion-item lines="none">
        <ion-text class="pasDeNotifs">
            Pas de notifications
        </ion-text>
    </ion-item>
</ng-template>
