ion-header {
  text-align: center;
  padding: 10px;
  font-size: 15px;
  color: steelblue;
}

.pasDeNotifs {
  font-style: italic;
  color: var(--ion-color-medium);
  text-align: center;
  width: 100%;
}