ion-header {
  background: white;
  padding: 15px;
}

ion-content {
  --padding-bottom: 15px;
  --padding-top: 15px;
  --padding-start: 15px;
  --padding-end: 15px;

  .titre {
    font-weight: bold;
    font-size: 25px;
    margin: 0 10px 30px 10px;
  }

  .adresse{
    ion-text{
      margin: 10px 0;
    }
    ion-list{
      position: fixed;
      z-index: 5;
      margin-top: 55px;
      box-shadow: 0 0 5px var(--ion-color-medium);
      border-radius: 5px;
      padding: 0 15px;
      margin-right: 15px;
      div{
        width: 100%;
        padding: 20px 0;
        color: var(--ion-color-medium);
        border-top: 1px solid var(--ion-color-medium);
      }
    }
  }

  .photos {
    padding: 15px;

    ion-text {
      color: var(--ion-color-customsecond);
      font-size: 13px;
    }

    .scrolling-wrapper {
      width: 100%;
      height: 215px;
      margin-top: 10px;
      margin-bottom: 10px;
      overflow-y: hidden;
      white-space: nowrap;

      .footerImg {
        display: inline-block;
        height: 200px;

        img {
          bottom: 0;
          height: 200px;
        }
      }
    }
  }
}
