<ion-header [ngStyle]="{'margin-top' : userService.getMargin()}">
    <ion-icon name="arrow-back" color="dark" size="large" (click)="back()"></ion-icon>
</ion-header>

<ion-content>
    <div class="titre">
        <ion-text>
            Modifiez les informations de votre cuisine
        </ion-text>
    </div>
    <ion-item>
        <ion-label position="stacked" color="customsecond">
            Nom de la cuisine
        </ion-label>
        <ion-input [(ngModel)]="maCuisine().nom" type="text" placeHolder="Nom obligatoire" (ionBlur)="onNameChange()" (ionChange)="onAutoFormatChanged()"></ion-input>
    </ion-item>
    <ion-item class="adresse" (ionBlur)="focusOut()">
        <ion-label position="stacked" color="customsecond">
            Adresse
        </ion-label>
        <ion-input #input id="input" [(ngModel)]="autocomplete.input" (ionFocus)="inputFocused=true"
                   (ionInput)="updateSearchResults()" placeholder="Rechercher l'adresse" clearInput></ion-input>
        <ion-list [hidden]="!(autocompleteItems.length != 0 && inputFocused)">
            <div *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item);$event.stopPropagation();">
                {{ item.description }}
            </div>
        </ion-list>
    </ion-item>
    <ion-item style="z-index: 0">
        <ion-label position="stacked" color="customsecond">
            Description
        </ion-label>
        <ion-textarea #textarea id="textarea" [(ngModel)]="maCuisine().description" type="text" placeHolder="Description facultative" (ionBlur)="onDescriptionChange()" (ionChange)="onAutoFormatChangedDescription()"
                      rows="6"></ion-textarea>
    </ion-item>
    <div class="photos">
        <div>
            <ion-text color="customsecond">
                Mes photos
            </ion-text>
            <ion-text color="customsecond" style="float:right;">
                {{myPhotos.length}} / 3
            </ion-text>
        </div>
        <div class="scrolling-wrapper">
            <div class="footerImg" *ngFor="let photo of myPhotos; let index = index" style="margin-right: 10px">
                <ion-slide *ngIf="photo.img=='loading', else displayPhoto" style="width: 100px; height: 200px"
                           class="ion-text-center">
                    <ion-spinner class="vertical-center" name="lines"></ion-spinner>
                </ion-slide>
                <ng-template #displayPhoto>
                    <ion-slide>
                        <div style="height: 100%; width: 100%; position: absolute" (click)="setPhotoClicked(photo)"
                             *ngIf="!photo.clicked"></div>
                        <div style="height: 100%; width: 100%; position: absolute; display: flex; align-items: center; justify-content: center"
                             *ngIf="photo.clicked">
                            <div style="height: 100%; width: 100%; background-color: red; opacity: 0.5; position: absolute;"
                                 (click)="photo.clicked=false"></div>
                            <ion-icon name="close-circle" color="light" size="large"
                                      (click)="showDeletePhotoAlert(index)"></ion-icon>
                        </div>
                        <img src="{{photo.img}}"
                             (load)="detectChanges()">
                    </ion-slide>
                </ng-template>
            </div>
            <div class="footerImg" *ngIf="myPhotos.length<3" style="padding: 2px; height: 200px; width: 200px;"
                 (click)="openPhotoChoice()">
                <ion-slide style="display: table; border: 1px solid #3b767f">
                    <div style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
                        <ion-icon name="add" size="large" color="quaternary"></ion-icon>
                    </div>
                </ion-slide>
            </div>
        </div>
    </div>
    <!--<ion-item>
        <ion-label position="stacked" color="customsecond">
            Nom de la banque
        </ion-label>
        <ion-input [(ngModel)]="maCuisine().infosBancaires.nomBanque" type="text" placeHolder="Nom de la banque"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" color="customsecond">
            Numéro de compte (IBAN)
        </ion-label>
        <ion-input [(ngModel)]="maCuisine().infosBancaires.iban" type="text" placeHolder="Numéro de compte (IBAN)"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" color="customsecond">
            SWIFT/BIC
        </ion-label>
        <ion-input [(ngModel)]="maCuisine().infosBancaires.bic" type="text" placeHolder="SWIFT/BIC"></ion-input>
    </ion-item>
    <ion-item *ngIf="maCuisine().siret">
        <ion-label position="stacked" color="customsecond">
            Siret
        </ion-label>
        <ion-input [(ngModel)]="maCuisine().siret" type="text" placeHolder="Numéro de Siret"></ion-input>
    </ion-item>-->
</ion-content>
