<ion-content class="vertical-align-content content" (click)="onClick()">
    <ion-grid style="height: 100%">
        <ion-row style="width: 100%">
            <ion-col size="10">
                <ion-row>
                    <ion-text class="title">
                        {{getNom()}}
                    </ion-text>
                </ion-row>
                <ion-row>
                    <ion-text class="body">
                        <br>
                        {{notif.text}}
                    </ion-text>
                </ion-row>
            </ion-col>
            <ion-col size="2">
                <ion-avatar>
                    <img src="{{getImage()}}" style="padding-right: 10px">
                </ion-avatar>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
