.title{
  font-size: large;
}

.body{

}

.vertical-align-content > *
{
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}

.content{
  border: 1px solid darkgrey;
}
