<div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; background: var(--ion-color-customsecond); padding: 20px">
  <div style="font-size: 20px">Association à Stripe</div>
  <div style="padding: 20px 0; text-align: center">Votre compte Stripe a bien été associé à votre compte CookDay!</div>
  <div style="padding: 20px 0; text-align: center">Retournez sur l'application pour commencer à cuisiner</div>
  <img src="assets/images/faim.svg">
</div>
