ion-header {
  background: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

ion-content {
  --padding-bottom: 15px;
  --padding-top: 15px;
  --padding-start: 15px;
  --padding-end: 15px;

  .titre {
    font-weight: bold;
    font-size: 25px;
    margin: 0 10px 30px 10px;
    text-align: center;
  }

  .horizontalAlign{
    width: 100%;
    ion-text{
      margin-left: 5px;
      color: var(--ion-color-medium);
      font-size: 14px;
    }
  }

  ion-select{
    text-transform: capitalize;
  }

  .ingredients{
    padding: 5px 16px;
    ion-label{
      font-size: 13px;
    }
    .liste{
      margin-top: 10px;
    }
  }

  .scrolling-wrapper{
    width: 100%;
    height: 215px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    .footerImg {
      display: inline-block;
      height: 200px;

      img {
        bottom: 0;
        height: 200px;
      }
    }
  }
}

.photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
