<ion-header [ngStyle]="{'margin-top' : userService.getMargin()}">
    <ion-icon name="arrow-back" color="dark" size="large" (click)="back()"></ion-icon>
    <ion-icon *ngIf="previousPlat" name="trash-outline" color="danger" size="large" (click)="presentDeleteAlert()"></ion-icon>
</ion-header>

<ion-content>
    <div class="titre">
        <ion-text>
            Entrez les informations du produit
        </ion-text>
    </div>
    <ion-item>
        <ion-label position="stacked" color="customsecond">
            Nom
        </ion-label>
        <div class="horizontalAlign">
            <ion-input [(ngModel)]="nom" (ionChange)="onAutoFormatChanged()" type="text" maxlength="50" placeHolder="Nom obligatoire"></ion-input>
            <ion-text>{{nom.length}} / 50</ion-text>
        </div>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" color="customsecond">
            Type
        </ion-label>
        <ion-select placeholder="Sélectionne un motif" [(ngModel)]="cat" interface="popover">
            <ion-select-option *ngFor="let cat of ventesService.order" [value]="cat">{{cat.slice(0, -1)}}</ion-select-option>
        </ion-select>
    </ion-item>
    <div class="ingredients">
        <ion-label color="customsecond">
            Ingrédients
        </ion-label>
        <div class="liste" *ngIf="ingredients.length>0">
            <ion-chip *ngFor="let ingredient of ingredients; let i=index">
                <ion-text>{{ingredient}}</ion-text>
                <ion-icon name="close-outline" (click)="deleteIngredient(i)"></ion-icon>
            </ion-chip>
        </div>
    </div>
    <ion-item>
        <div class="horizontalAlign">
            <ion-input [(ngModel)]="newIngredient" type="text" placeHolder="Nouvel ingrédient" (ionChange)="onAutoFormatChangedIngredient()"
                       (keyup.enter)="ajouterIngredient()" style="margin-top: -9px"></ion-input>
            <ion-icon name="add" *ngIf="newIngredient.length>0" (click)="ajouterIngredient()"></ion-icon>
        </div>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" color="customsecond">
            Prix
        </ion-label>
        <div class="horizontalAlign">
            <ion-input [(ngModel)]="prix" type="number" maxlength="50" placeHolder="Prix obligatoire"></ion-input>
            <ion-text>€</ion-text>
        </div>
    </ion-item>
    <div class="scrolling-wrapper">
        <div class="footerImg" style="margin-right: 10px">
            <ion-slide *ngIf="photo && photo.img=='loading', else displayPhoto" style="width: 100px; height: 200px"
                       class="ion-text-center">
                <ion-spinner class="vertical-center" name="lines"></ion-spinner>
            </ion-slide>
            <ng-template #displayPhoto>
                <ion-slide>
                    <div style="height: 100%; width: 100%; position: absolute" (click)="photo.clicked=true"
                         *ngIf="photo && !photo.clicked"></div>
                    <div style="height: 100%; width: 100%; position: absolute; display: flex; align-items: center; justify-content: center" *ngIf="photo && photo.clicked">
                        <div style="height: 100%; width: 100%; background-color: red; opacity: 0.5; position: absolute;" (click)="photo.clicked=false"></div>
                        <ion-icon name="close-circle" color="light" size="large"
                                  (click)="showDeletePhotoAlert()" style="z-index: 999"></ion-icon>
                    </div>
                    <div class="photo" *ngIf="photo" [ngStyle]="{'background-image': 'url('+photo.img+')'}" style="width: 200px; height: 200px"
                         (load)="detectChanges()"></div>
                </ion-slide>
            </ng-template>
        </div>
        <div class="footerImg" *ngIf="!photo" style="padding: 2px; height: 200px; width: 200px;"
             (click)="openPhotoChoice()">
            <ion-slide style="display: table; border: 1px solid #3b767f">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
                    <ion-icon name="add" size="large" color="quaternary"></ion-icon>
                </div>
            </ion-slide>
        </div>
    </div>
    <div class="horizontalAlign">
        <ion-button color="customsecond" [disabled]="btnDisabled()" style="width: 100%" (click)="addPlat()">Valider</ion-button>
    </div>
</ion-content>
