<ion-fab vertical="top" horizontal="start">
    <ion-icon name="arrow-back" color="medium" size="large" (click)="back()"></ion-icon>
</ion-fab>
<ion-header>
    <ion-toolbar>
        <ion-title>Commande {{id.substring(0, 5).toUpperCase()}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="pubImg"
         [ngStyle]="{'background-image': 'url('+cuisine().photos[0]+')', 'height': userService.getImgHeight()}">
        <!--<ion-icon name="chatbubble-ellipses" color="light" size="large" (click)="ventesService.open('chat', commande().cuisine)"></ion-icon>-->
        <ion-button color="light" (click)="ventesService.open('cuisine', commande().cuisine)">Voir la cuisine
        </ion-button>
    </div>
    <div style="width: 100%; display: flex; justify-content: center">
        <div class="maxWidth">
            <div class="content">
                <div class="header">
                    <div class="nom">{{cuisine().nom}}</div>
                    <div class="infos">
                        <ion-text [ngStyle]="{'color': statutColor()}">Commande <span
                                *ngIf="commande().statut=='terminée'">récupérée</span>
                            <span *ngIf="commande().statut=='à récupérer'">à récupérer</span></ion-text>
                        <ion-text color="medium"> le {{ commande().dateRecup | date:'dd MMMM'}}
                            à {{ commande().dateRecup | date:'HH:mm' }}</ion-text>
                    </div>
                </div>
                <div *ngFor="let cat of ventesService.order">
                    <div class="titre" *ngIf="commande().menu[ventesService.retirerAccents(cat)].length>0">
                        {{cat}}
                    </div>
                    <div class="plat" *ngFor="let plat of commande().menu[ventesService.retirerAccents(cat)]"
                         (click)="ventesService.presentPlatPopover(plat)">
                        <div style="display: flex; align-items: center"
                             *ngIf="commande().menu[ventesService.retirerAccents(cat)].length>0">
                            <div class="pubImg" [ngStyle]="{'background-image': 'url('+plat.img+')'}"></div>
                        </div>
                        <div class="infos-commande flexHorizontal"
                             *ngIf="commande().menu[ventesService.retirerAccents(cat)].length>0">
                            <div>
                                <b style="margin-right: 10px;">{{plat.quantite}}</b>
                                <ion-text>{{plat.nom}}</ion-text>
                            </div>
                            <b>{{ventesService.prixFormat(plat.prix)}} €</b>
                        </div>
                    </div>
                </div>
                <div class="total">
                    Total : {{ventesService.prixFormat(ventesService.total(commande()))}} €
                </div>
                <ion-button *ngIf="commande().statut=='terminée' && !ventesService.dejaNotee(cuisine(), id)"
                            color="customthird" (click)="ventesService.open('noter-commande', id)">
                    Noter la commande
                </ion-button>
            </div>
            <ion-fab vertical="bottom" horizontal="end">
                <ion-fab-button color="customthird"
                                (click)="ventesService.openChat(commande().cuisine, userService.userInfo.uid)">
                    <ion-icon name="chatbubble-ellipses-outline" size="large"></ion-icon>
                </ion-fab-button>
                <ion-badge *ngIf="nbMessagesNonLus>0" color="danger">{{nbMessagesNonLus}}</ion-badge>
            </ion-fab>
        </div>
    </div>
</ion-content>
