ion-title{
  text-align: center;
  font-size: 14px;
}

ion-content{
  .pubImg {
    height: 200px;
    width: 100%;
    padding: 5px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

    ion-button{
      font-size: 12px;
      text-transform: unset;
      color: var(--ion-color-medium);
    }
  }

  .content{
    padding: 15px;
    .header{
      margin-bottom: 10px;
      .nom{
        margin-bottom: 5px;
        font-weight: bold;
      }
      .infos{
        font-size: 14px;
      }
    }
    .titre {
      width: 100%;
      border-bottom: 1px solid black;
      text-transform: capitalize;
    }
    .plat {
      display: flex;
      width: 100%;
      padding: 15px 0;

      .pubImg {
        width: 75px;
        height: 75px;
        margin-right: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .infos-commande {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        width: 100%;

        .statut {
          span {
            text-transform: capitalize;
          }
        }

        .date{
          font-weight: bold;
          margin-bottom: 7.5px;
        }
      }
    }

    .total{
      font-weight: bold;
      text-align: end;
      margin: 10px 0;
    }

    ion-button{
      width: 100%;
      text-transform: unset;
    }

  }

  ion-fab {
    ion-badge {
      position: absolute;
      right: 0;
      bottom: 0;
      border-radius: 100%;
      min-width: 20px;
      min-height: 20px;
    }
  }
}
