<ion-content>
    <ion-slides #slides (ionSlideWillChange)="onSlideChange(slides.getActiveIndex())" [options]="slideOpts">

        <!--Cuisine----------------------------------------------------------------------------------------------------------------------------------->
        <ion-slide class="cuisine" *ngIf="userService.user && stripeHttpService.accountActivated">
            <ion-header>
                <ion-toolbar>
                    <ion-segment (ionChange)="slidesCuisine.slideTo(Number(segmentCuisine))"
                                 [(ngModel)]="segmentCuisine"
                                 style="background-color: white">
                        <ion-segment-button *ngFor="let seg of segmentsCuisine; let i = index" value="{{i}}">
                            <ion-text>{{seg}}</ion-text>
                        </ion-segment-button>
                    </ion-segment>
                </ion-toolbar>
            </ion-header>
            <ion-slides #slidesCuisine id="slidesCuisine"
                        (ionSlideWillChange)="onSlideCuisineChange(slidesCuisine.getActiveIndex())"
                        [options]="slideOpts">
                <ion-slide *ngIf="!prochaineVenteAujourdhui()" class="aujourdhui">
                    <ion-header>
                        <div *ngIf="!prochaineVenteAujourdhui()" class="aucun">
                            <ion-text>Aucune vente n'est prévue pour aujourd'hui</ion-text>
                        </div>
                    </ion-header>
                </ion-slide>
                <ion-slide *ngIf="prochaineVenteAujourdhui()" class="aujourdhui">
                    <div style="width: 100%; height: 100%; display: flex; justify-content: center; overflow-y: auto">
                        <div class="maxWidth">
                            <ion-header>
                                <div class="venteOk">
                                    <div class="dateAujourdhui">
                                        <div class="topLine">
                                            <ion-icon name="calendar-outline" color="medium"></ion-icon>
                                            <ion-text>{{ todayDate | date:'dd/MM/YYYY'}}</ion-text>
                                        </div>
                                        <ion-text
                                                class="bottomLine">{{ prochaineVenteAujourdhui().horaires.debut | date:'HH:mm'}}
                                            - {{ prochaineVenteAujourdhui().horaires.fin | date:'HH:mm'}}</ion-text>
                                    </div>
                                    <div class="details"
                                         (click)="presentDetailsVente(prochaineVenteAujourdhui(), $event)">
                                        <ion-text color="primary">Détails</ion-text>
                                        <ion-icon color="primary" name="chevron-down"></ion-icon>
                                    </div>
                                </div>
                            </ion-header>
                            <div
                                    *ngIf="commandesParStatut(prochaineVenteAujourdhui().id,'à préparer').length+commandesParStatut(prochaineVenteAujourdhui().id,'à récupérer').length==0"
                                    class="aucun"
                                    style="width: 100%; text-align: center; color: var(--ion-color-medium)">
                                <ion-text>Toutes les commandes ont été récupérées :)</ion-text>
                            </div>
                            <div class="title"
                                 *ngIf="commandesParStatut(prochaineVenteAujourdhui().id,'à préparer').length>0">
                                <ion-text>A préparer
                                    ({{commandesParStatut(prochaineVenteAujourdhui().id, 'à préparer').length}}
                                    )
                                </ion-text>
                            </div>
                            <ion-card
                                    *ngFor="let commande of commandesParStatut(prochaineVenteAujourdhui().id,'à préparer')"
                                    class="aPreparer">
                                <div class="topLine">
                                    <div style="display: flex; align-items: center">
                                        <div class="picture"
                                             [ngStyle]="{'background-image': 'url('+getUserImg(commande)+')'}"></div>
                                        <ion-text>{{commande.userData.prenom}} {{commande.userData.nom}}</ion-text>
                                    </div>
                                    <ion-text>{{commande.dateRecup | date:'HH:mm'}}</ion-text>
                                </div>
                                <div class="bottomLine">
                                    <div class="leftColumn">
                                        <div *ngFor="let plat of ventesService.getPlats(commande)" class="plat">
                                            <ion-badge>{{plat.quantite}}</ion-badge>
                                            <div>
                                                <div>{{plat.nom}}</div>
                                                <div class="remarque" *ngIf="plat.remarque">{{plat.remarque}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <ion-button (click)="changerStatutCommande(commande, 'à récupérer')">Prête
                                    </ion-button>
                                </div>
                            </ion-card>
                            <div class="title"
                                 *ngIf="commandesParStatut(prochaineVenteAujourdhui().id,'à récupérer').length>0">
                                <ion-text>Prêtes
                                    ({{commandesParStatut(prochaineVenteAujourdhui().id, 'à récupérer').length}})
                                </ion-text>
                            </div>
                            <ion-card
                                    *ngFor="let commande of commandesParStatut(prochaineVenteAujourdhui().id,'à récupérer')"
                                    class="aRecuperer">
                                <div class="cardContent">
                                    <div class="start">
                                        <div style="display: flex; align-items: center">
                                            <div class="picture"
                                                 [ngStyle]="{'background-image': 'url('+getUserImg(commande)+')'}"></div>
                                            <ion-text>{{commande.userData.prenom}} {{commande.userData.nom}}</ion-text>
                                        </div>
                                    </div>
                                    <div class="timeAndButton">
                                        <ion-text>{{commande.dateRecup | date:'HH:mm'}}</ion-text>
                                        <ion-button (click)="changerStatutCommande(commande, 'terminée')">Récupérée
                                        </ion-button>
                                    </div>
                                </div>
                            </ion-card>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide class="planning">
                    <div style="width: 100%; height: 100%; display: flex; justify-content: center; overflow-y: auto">
                        <div class="maxWidth">
                            <div style="width: inherit;
    overflow: auto;
    margin-bottom: 40px;">
                                <div class="mesVentesItem"
                                     *ngFor="let vente of ventesService.getVentesCuisine(ventesService.maCuisine())">
                                    <div class="date">
                                        <ion-text>{{ vente.date | date:'dd MMMM YYYY'}}</ion-text>
                                        <ion-text>{{vente.horaires.debut | date:'HH:mm'}}
                                            - {{vente.horaires.fin | date:'HH:mm'}}</ion-text>
                                    </div>
                                    <div class="detailsQuantites">
                                        <div *ngFor="let plat of ventesService.getPlats(vente)">
                                            <div class="flexHorizontal">
                                                <ion-text>{{plat.nom}}</ion-text>
                                                <ion-text>{{plat.qteAchetee}}</ion-text>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flexHorizontal">
                                        <div class="flexHorizontal">
                                            <ion-text color="customthird"
                                                      style="margin-right: 5px;">{{vente.commandes.length}}</ion-text>
                                            <ion-icon name="cube-outline" color="customthird"></ion-icon>
                                        </div>
                                        <div class="flexHorizontal buttons">
                                            <ion-card style="color: var(--ion-color-danger)" (click)="editVente(vente)">
                                                Modifier
                                            </ion-card>
                                            <ion-card style="color: var(--ion-color-customthird)"
                                                      (click)="presentDetailsVente(vente, $event)">Voir détails
                                            </ion-card>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ion-fab horizontal="start" vertical="bottom">
                                <ion-button color="light" (click)="goPaiements()">
                                    Historique
                                </ion-button>
                            </ion-fab>
                            <ion-fab horizontal="end" vertical="bottom">
                                <ion-button (click)="nouvelleVente()">
                                    Nouvelle vente
                                </ion-button>
                            </ion-fab>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide class="cuisine">
                    <ion-slides [pager]="maCuisine().photos.length>1" class="slideCuisine">
                        <ion-slide *ngFor="let photo of maCuisine().photos" style="padding: 0">
                            <div class="pubImg" [ngStyle]="{'background-image': 'url('+photo+')'}"></div>
                        </ion-slide>
                    </ion-slides>
                    <ion-fab vertical="top" horizontal="end">
                        <div (click)="openEditCuisine()">
                            <ion-icon name="pencil" color="dark" style="cursor:pointer;"></ion-icon>
                        </div>
                    </ion-fab>
                    <div style="width: 100%; height: 100%; display: flex; justify-content: center; overflow-y: auto">
                        <div class="maxWidth">
                            <div class="infos">
                                <div class="header">
                                    <div class="start">
                                        <div class="nom">
                                            <span class="txt">{{maCuisine().nom}}</span> <span
                                                class="distance">à {{ventesService.calculateDistance(maCuisine().geoloc)}}
                                            km</span>
                                        </div>
                                        <div class="nbBoites">
                                            <ion-icon name="cube"></ion-icon>
                                            {{maCuisine().nbBoxPreparees}} box préparée<span
                                                *ngIf="maCuisine().nbBoxPreparees!=1">s</span>
                                        </div>
                                    </div>
                                    <div class="end">
                                        <div class="note">
                  <span
                          *ngIf="maCuisine().avis.length>0; else pasDAvis">{{ventesService.getMoyenne(maCuisine())}}</span>
                                            <ng-template #pasDAvis>-</ng-template>
                                            <img src="assets/pictos/Toque1.svg">
                                        </div>
                                        <div class="nbNotes">
                                            ({{maCuisine().avis.length}} évaluation<span
                                                *ngIf="maCuisine().avis.length!=1">s</span>)
                                        </div>
                                    </div>
                                </div>
                                <div class="localisation flexHorizontal">
                                    <div class="adresse">
                                        <ion-icon name="location-outline"></ion-icon>
                                        <ion-text>{{maCuisine().adresse}}</ion-text>
                                    </div>
                                    <ion-icon class="btnNav" name="navigate-circle" color="customthird" size="large"
                                              style="cursor: pointer"
                                              (click)="userService.openMap(maCuisine())"></ion-icon>
                                </div>
                            </div>
                            <div class="categorie" *ngFor="let cat of ventesService.order">
                                <div class="titre">
                                    {{cat}}
                                </div>
                                <div class="commande-item"
                                     *ngFor="let plat of maCuisine().menu[ventesService.retirerAccents(cat)]; let i=index"
                                     [ngStyle]="{'border-bottom': articleItemBorder(cat, i)}"
                                     (click)="ventesService.presentPlatPopover(plat)">
                                    <div style="display: flex; align-items: center">
                                        <div class="commandeImg"
                                             [ngStyle]="{'background-image': 'url('+plat.img+')'}"></div>
                                    </div>
                                    <div class="infos-commande">
                                        <div class="flexHorizontal">
                                            <ion-text>{{plat.nom}}</ion-text>
                                            <b>{{ventesService.prixFormat(plat.prix)}} €</b>
                                        </div>
                                        <div class="flexHorizontal">
                                            <ion-text color="medium">{{ventesService.getIngredients(plat)}}</ion-text>
                                            <div class="editBtn"
                                                 (click)="editPlat(cat, plat); $event.stopPropagation();">
                                                <ion-icon name="pencil" color="light"></ion-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="aucun"
                                     *ngIf="maCuisine().menu[ventesService.retirerAccents(cat)].length==0">
                                    Aucun article
                                </div>
                                <div class="horizontalAlign">
                                    <ion-button (click)="openAjouterPlat(cat)">
                                        Ajouter {{boutonsAjouter[ventesService.retirerAccents(cat)]}}</ion-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide class="paiements">
                    <div style="width: 100%; height: 100%; display: flex; justify-content: center; overflow-y: auto">
                        <div class="maxWidth">
                            <div class="topLine dataLine" style="border-bottom: 1px solid var(--ion-color-dark)">
                                <div class="date">Date</div>
                                <div class="id">Identifiant</div>
                                <div class="solde">Solde</div>
                                <div class="versementNet">Versement net</div>
                                <div class="chevron"></div>
                            </div>
                            <div *ngFor="let commande of getAllCommandes()" class="commande">
                                <div class="dataLine">
                                    <div class="date">{{ commande.dateRes | date:'dd/MM/yyyy HH:mm' }}</div>
                                    <div class="id">{{commande.id.substring(0, 5).toUpperCase()}}</div>
                                    <div class="solde">{{ventesService.prixFormat(ventesService.total(commande))}}€
                                    </div>
                                    <div class="versementNet">{{ventesService.prixFormat(ventesService.total(commande) * 0.8)}}
                                        €
                                    </div>
                                    <div class="chevron">
                                        <ion-icon *ngIf="paiementsShownDetailsId!=commande.id" name="chevron-down"
                                                  (click)="paiementsShownDetailsId=commande.id"></ion-icon>
                                        <ion-icon *ngIf="paiementsShownDetailsId==commande.id" name="chevron-up"
                                                  (click)="paiementsShownDetailsId=''"></ion-icon>
                                    </div>
                                </div>
                                <div class="details" *ngIf="paiementsShownDetailsId==commande.id">
                                    <div *ngFor="let plat of ventesService.getPlats(commande)" class="plat">
                                        <div>{{plat.quantite}}x</div>
                                        <div>{{plat.nom}}</div>
                                        <div>{{ventesService.prixFormat(plat.prix * plat.quantite)}} €</div>
                                    </div>
                                    <div class="comptaLine" style="border-top: 1px solid var(--ion-color-primary);">
                                        <div>Vente de produits alimentaires (TVA comprise)</div>
                                        <div>{{ventesService.prixFormat(ventesService.total(commande))}} €</div>
                                    </div>
                                    <div class="comptaLine" style="border-bottom: 1px solid var(--ion-color-primary);">
                                        <div>Frais CookDay (TVA comprise)</div>
                                        <div>({{ventesService.prixFormat(ventesService.total(commande) * 0.2)}} €)</div>
                                    </div>
                                    <div class="comptaLine"
                                         style="font-weight: bold; font-size: 14px; color: var(--ion-color-dark)">
                                        <div>Versement net</div>
                                        <div>{{ventesService.prixFormat(ventesService.total(commande) * 0.8)}} €</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slides>
        </ion-slide>

        <!--Recherche----------------------------------------------------------------------------------------------------------------------------------->
        <ion-slide class="recherches">
            <div style="width: 100%; height: 100%; display: flex; justify-content: center; overflow-y: auto">
                <div class="maxWidth">
                    <ion-header>
                        <ion-toolbar>
                            <ion-searchbar placeholder="Rechercher" #autofocus [(ngModel)]="recherche"
                                           (ionChange)="changeRecherche($event)"></ion-searchbar>
                            <ion-text color="medium">{{recherche}}</ion-text>
                        </ion-toolbar>
                    </ion-header>
                    <!--<app-map *ngIf="recherche==''" style="width: 100%; height: 100%;"></app-map>-->
                    <div style="text-align: center; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; overflow-y: auto">
                        <ion-text *ngIf="recherche!=''">{{textRes()}}</ion-text>
                        <div *ngIf="recherche==''"
                             style="border-bottom: 1px solid var(--ion-color-dark); margin: 15px; width: 90%"></div>
                        <ion-text *ngIf="recherche==''" style="padding: 15px; color: var(--ion-color-medium)">Faites une
                            recherche parmis <span style="white-space: nowrap">les cuisines et les plats</span>
                        </ion-text>
                        <ion-button (click)="openMap()"> <!--*ngIf="recherche=='' && userService.platform.is('capacitor')"-->
                            Ouvrir la CookMap
                        </ion-button>
                        <img style="max-width: 500px;" *ngIf="recherche==''"
                             src="assets/images/rechercher.svg">
                    </div>

                    <ion-content *ngIf="recherche!=''">
                        <div class="ventes" style="width: 100%">
                            <div *ngFor="let vente of ventesService.searchVentes(recherche); let i=index">
                                <div class="dateItem" *ngIf="showDate(vente, i)">
                                    <ion-text *ngIf="isToday(vente.date)">Aujourd'hui</ion-text>
                                    <ion-text *ngIf="isTomorrow(vente.date)">Demain</ion-text>
                                    <ion-text
                                            *ngIf="!isToday(vente.date) && !isTomorrow(vente.date)">{{ vente.date | date:'dd/MM/yyyy' }}</ion-text>
                                </div>
                                <app-vente-item [vente]="vente"></app-vente-item>
                            </div>
                            <ion-text *ngIf="ventesService.searchVentes(recherche).length==0">Aucun résultat ne
                                correspond
                            </ion-text>
                        </div>
                    </ion-content>
                </div>
            </div>
        </ion-slide>
        <!--Accueil----------------------------------------------------------------------------------------------------------------------------------->
        <ion-slide class="accueil">
            <div style="width: 100%; height: 100%; display: flex; justify-content: center; overflow-y: auto">
                <div class="maxWidth">
                    <ion-header>
                        <ion-toolbar>
                            <div class="choixDate">
                                <ion-icon *ngIf="!isToday(chosenDate)" class="changeDate" name="chevron-back-circle"
                                          size="large"
                                          color="customthird" (click)="decrementDate()"></ion-icon>
                                <div *ngIf="isToday(chosenDate)" style="width: 82px"></div>
                                <div class="date" *ngIf="isToday(chosenDate) || isTomorrow(chosenDate)">
                                    <ion-text *ngIf="isToday(chosenDate)">Aujourd'hui</ion-text>
                                    <ion-text *ngIf="isTomorrow(chosenDate)">Demain</ion-text>
                                    <div>
                                        <ion-icon name="calendar-outline"></ion-icon>
                                        <ion-text>{{ chosenDate | date:'dd/MM/yyyy' }}</ion-text>
                                    </div>
                                </div>
                                <div class="date" *ngIf="!(isToday(chosenDate) || isTomorrow(chosenDate))">
                                    <div>
                                        <ion-icon name="calendar-outline"></ion-icon>
                                        <ion-text>{{ chosenDate | date:'dd/MM/yyyy' }}</ion-text>
                                    </div>
                                </div>
                                <ion-icon class="changeDate" name="chevron-forward-circle" size="large"
                                          color="customthird"
                                          (click)="incrementDate()"></ion-icon>
                            </div>
                        </ion-toolbar>
                    </ion-header>

                    <div class="ventes" style="width: 100%">
                        <app-vente-item *ngFor="let vente of ventesService.getVentes(chosenDate)"
                                        [vente]="vente"></app-vente-item>
                        <ion-text *ngIf="ventesService.getVentes(chosenDate).length==0">Rien n'est disponible ce jour là
                        </ion-text>
                    </div>
                    <ion-fab vertical="bottom" horizontal="end"
                             *ngIf="userService.user && ventesService.getPanierLength()>0">
                        <ion-fab-button color="customthird" (click)="userService.presentPanierPopover()">
                            <ion-icon name="basket-outline"></ion-icon>
                        </ion-fab-button>
<!--                        <ion-fab-button color="customthird" (click)="testNotify()">-->
<!--                            <ion-icon name="basket-outline"></ion-icon>-->
<!--                        </ion-fab-button>-->
                        <ion-badge color="danger">{{ventesService.getPanierLength()}}</ion-badge>
                    </ion-fab>
                </div>
            </div>
        </ion-slide>

        <!--Commandes----------------------------------------------------------------------------------------------------------------------------------->
        <ion-slide *ngIf="userService.user">
            <div style="width: 100%; height: 100%; display: flex; justify-content: center; overflow-y: auto">
                <div class="maxWidth">
                    <div class="commandes" [ngStyle]="{'margin-top' : userService.getMargin()}">
                        <div class="titre">
                            En attente de préparation
                        </div>
                        <div class="aucune" *ngIf="getCommandes('à préparer').length==0">
                            Aucune commande en attente de préparation
                        </div>
                        <ion-card class="aRecupItem" *ngFor="let commande of getCommandes('à préparer')"
                                  (click)="ventesService.open('commande', commande.id)">
                            <div class="date">
                                <ion-text *ngIf="isToday(commande.dateRecup)">Aujourd'hui</ion-text>
                                <ion-text *ngIf="isTomorrow(commande.dateRecup)">Demain</ion-text>
                                <ion-text
                                        *ngIf="!(isToday(commande.dateRecup) || isTomorrow(commande.dateRecup))">{{ commande.dateRecup | date:'dd/MM/yyyy' }}
                                    - {{commande.dateRecup | date:'HH:mm'}}</ion-text>
                            </div>
                            <div class="cuisine flexHorizontal">
                                <div class="start">
                                    <div>
                                        {{getCommandeCuisine(commande).nom}}
                                    </div>
                                    <div class="adresse">
                                        <ion-icon name="location-outline"></ion-icon>
                                        <ion-text>
                                            {{getCommandeCuisine(commande).adresse}}
                                        </ion-text>
                                    </div>
                                </div>
<!--                                <div>-->
<!--                                    <ion-button color="customthird"-->
<!--                                                (click)="userService.openMap(getCommandeCuisine(commande));$event.stopPropagation();">{{firstUp("M'y rendre")}}</ion-button>-->
<!--                                </div>-->
                            </div>
                            <div class="details">
                                <li class="flexHorizontal" *ngFor="let plat of ventesService.getPlats(commande)">
                                    <div><span style="margin-right: 15px">•</span>{{plat.quantite}} x {{plat.nom}}</div>
                                    <div>{{ventesService.prixFormat(plat.prix * plat.quantite)}} €</div>
                                </li>
                            </div>
                            <div class="total flexHorizontal">
                                <ion-text>Total</ion-text>
                                <b>{{ventesService.prixFormat(ventesService.total(commande))}} €</b>
                            </div>
                        </ion-card>
                        <div class="titre">
                            A récupérer
                        </div>
                        <ion-card class="aRecupItem" *ngFor="let commande of getCommandes('à récupérer')"
                                  (click)="ventesService.open('commande', commande.id)">
                            <div class="date">
                                <ion-text *ngIf="isToday(commande.dateRecup)">Aujourd'hui</ion-text>
                                <ion-text *ngIf="isTomorrow(commande.dateRecup)">Demain</ion-text>
                                <ion-text
                                        *ngIf="!(isToday(commande.dateRecup) || isTomorrow(commande.dateRecup))">{{ commande.dateRecup | date:'dd/MM/yyyy' }}
                                    - {{commande.dateRecup | date:'HH:mm'}}</ion-text>
                            </div>
                            <div class="cuisine flexHorizontal">
                                <div class="start">
                                    <div>
                                        {{getCommandeCuisine(commande).nom}}
                                    </div>
                                    <div class="adresse">
                                        <ion-icon name="location-outline"></ion-icon>
                                        <ion-text>
                                            {{getCommandeCuisine(commande).adresse}}
                                        </ion-text>
                                    </div>
                                </div>
                                <div>
                                    <ion-button color="customthird"
                                                (click)="userService.openMap(getCommandeCuisine(commande));$event.stopPropagation();">{{firstUp("M'y rendre")}}</ion-button>
                                </div>
                            </div>
                            <div class="details">
                                <li class="flexHorizontal" *ngFor="let plat of ventesService.getPlats(commande)">
                                    <div><span style="margin-right: 15px">•</span>{{plat.quantite}} x {{plat.nom}}</div>
                                    <div>{{ventesService.prixFormat(plat.prix * plat.quantite)}} €</div>
                                </li>
                            </div>
                            <div class="total flexHorizontal">
                                <ion-text>Total</ion-text>
                                <b>{{ventesService.prixFormat(ventesService.total(commande))}} €</b>
                            </div>
                        </ion-card>
                        <div class="aucune" *ngIf="getCommandes('à récupérer').length==0">
                            Aucune commande à récupérer
                        </div>
                        <div class="titre">
                            Anciennes commandes
                        </div>
                        <div class="termineeItem" *ngFor="let commande of getCommandes('terminée')"
                             (click)="ventesService.open('commande', commande.id)">
                            <div class="header flexHorizontal">
                                <div>{{getCommandeCuisine(commande).nom}}</div>
                                <ion-button color="customthird"
                                            (click)="ventesService.open('cuisine', commande.cuisine);$event.stopPropagation();">{{firstUp("Voir la cuisine")}}</ion-button>
                            </div>
                            <div class="body">
                                <div>{{ventesService.getPlats(commande).length}} plat<span
                                        *ngIf="ventesService.getPlats(commande).length!=1">s</span>
                                    - {{ventesService.prixFormat(ventesService.total(commande))}} €
                                </div>
                                <div>{{ commande.dateRecup | date:'dd MMMM' }} - Terminée</div>
                            </div>
                        </div>
                        <div class="aucune" *ngIf="getCommandes('terminée').length==0">
                            Aucune commande terminée
                        </div>
                        <img src="assets/images/faim.svg">
                    </div>
                </div>
            </div>
        </ion-slide>

        <!--Profil----------------------------------------------------------------------------------------------------------------------------------->
        <ion-slide class="profil" *ngIf="userService.user">
            <ion-header>
                <ion-toolbar>
                    <div class="titre">
                        Mon profil
                    </div>
                    <ion-buttons slot="end" style="position: absolute; right: 0;">
                        <ion-button (click)="presentNotifyPopover($event)">
                            <ion-icon size="large" name="notifications-outline"></ion-icon>
                            <ion-badge color="danger" style="margin: -15px 0 0 -15px"
                                       *ngIf="userService.nbNotifsNonLues()>0">{{userService.nbNotifsNonLues()}}</ion-badge>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <div style="width: 100%; height: 100%; display: flex; justify-content: center; overflow-y: auto">
                <div class="maxWidth">
                    <div style="width: 100%; overflow: auto">
                        <div class="header">
                            <div class="picture" [ngStyle]="{'background-image': 'url('+getProfileImg()+')'}"
                                 (click)="openPhotoChoice()" style="cursor: pointer;">
                                <ion-spinner name="bubbles" color="medium" *ngIf="loadingProfilPhoto"></ion-spinner>
                            </div>
                            <div class="user">
                                <!--<ion-icon name="person-circle-outline" size="large"></ion-icon>-->
                                <ion-text>{{userService.user.prenom}} {{userService.user.nom}}</ion-text>
                            </div>
                            <div class="date">
                                <ion-icon name="time-outline"></ion-icon>
                                <ion-text>Utilisateur
                                    depuis {{ userService.user.dateCreation.toDate() | date:'MMMM YYYY'}}</ion-text>
                            </div>
                        </div>
                        <div class="info">
                            <div class="intitule">
                                <ion-text>Prénom</ion-text>
                            </div>
                            <div class="val">
                                {{ userService.user.prenom}}
                            </div>
                        </div>
                        <div class="info">
                            <div class="intitule">
                                <ion-text>Nom</ion-text>
                            </div>
                            <div class="val">
                                {{ userService.user.nom}}
                            </div>
                        </div>
                        <div class="info" (click)="openModifierTelephone()" style="cursor: pointer">
                            <div class="intitule">
                                <ion-icon name="call"></ion-icon>
                                <ion-text>Téléphone</ion-text>
                            </div>
                            <div class="val flexHorizontal">
                                <div class="start">
                                    <ion-avatar>
                                        <img src="{{userService.user.phone.flag}}">
                                    </ion-avatar>
                                    <ion-text>{{userService.phone()}}</ion-text>
                                </div>
                                <div>
                                    <ion-text color="success">Vérifié</ion-text>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <div class="intitule">
                                <ion-icon name="mail"></ion-icon>
                                <ion-text>Email</ion-text>
                            </div>
                            <div class="val flexHorizontal">
                                <div class="start">
                                    <ion-text>{{userService.userInfo.email}}</ion-text>
                                </div>
                                <div>
                                    <ion-text color="success">Vérifié</ion-text>
                                </div>
                            </div>
                        </div>
                        <div class="info pointer" (click)="openChangeMdp()">
                            <div class="intitule">
                                <ion-icon name="lock-closed"></ion-icon>
                                <ion-text>Mot de passe</ion-text>
                            </div>
                            <div class="val flexHorizontal">
                                <div class="start">
                                    <ion-text>●●●●●●●●●●</ion-text>
                                </div>
                                <div>
                                    <ion-text color="medium">Modifier</ion-text>
                                </div>
                            </div>
                        </div>
                        <div class="devenirCuisinier">
                            <ion-button *ngIf="!ventesService.maCuisine()" color="customdegrade"
                                        (click)="openDevenirCuisine()">
                                Devenir cuisinier
                            </ion-button>
                            <ion-button *ngIf="ventesService.maCuisine()" color="customdegrade" (click)="goCuisine()">Ma
                                cuisine
                            </ion-button>
                        </div>
                        <ion-item lines="none" (click)="openSupport()" style="cursor: pointer">
                            <ion-icon slot="start" name="help-circle-outline"></ion-icon>
                            <ion-text>Aide et support</ion-text>
                        </ion-item>
                        <ion-item lines="none" style="cursor: pointer" (click)="openAPropos()">
                            <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
                            <ion-text>À propos</ion-text>
                        </ion-item>
                        <ion-item lines="none" (click)="userService.presentAlertDeconnexion()" style="cursor: pointer">
                            <ion-icon slot="start" name="log-out-outline"></ion-icon>
                            <ion-text>Se déconnecter</ion-text>
                        </ion-item>
                        <ion-item lines="none" (click)="userService.presentAlertSuppression()" style="cursor: pointer">
                            <ion-icon slot="start" name="close" color="danger"></ion-icon>
                            <ion-text color="danger">Supprimer mon compte</ion-text>
                        </ion-item>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
    <ion-fab vertical="bottom" horizontal="start">
        <ion-button *ngIf="!userService.user" (click)="goLogin()">
            <ion-icon style="margin-right: 5px" name="log-in-outline"></ion-icon>
            <ion-text>Se connecter</ion-text>
        </ion-button>
    </ion-fab>
</ion-content>
<ion-footer>
    <ion-segment (ionChange)="slides.slideTo(Number(segment))" [(ngModel)]="segment"
                 style="background-color: #f9f9f9">
        <ion-segment-button value="{{numSegment(0)}}" *ngIf="userService.user && stripeHttpService.accountActivated">
            <img [src]="'assets/pictos/Cuisine'+isActive(numSegment(0))+'.svg'">
        </ion-segment-button>
        <ion-segment-button value="{{numSegment(1)}}">
            <img [src]="'assets/pictos/Recherche'+isActive(numSegment(1))+'.svg'">
        </ion-segment-button>
        <ion-segment-button value="{{numSegment(2)}}">
            <img [src]="'assets/pictos/Accueil'+isActive(numSegment(2))+'.svg'">
        </ion-segment-button>
        <ion-segment-button value="{{numSegment(3)}}" *ngIf="userService.user">
            <img [src]="'assets/pictos/Commandes'+isActive(numSegment(3))+'.svg'">
        </ion-segment-button>
        <ion-segment-button value="{{numSegment(4)}}" *ngIf="userService.user">
            <img [src]="'assets/pictos/Profil'+isActive(numSegment(4))+'.svg'">
            <ion-badge color="danger" style="position: absolute; right: 15px; top: 5px;"
                       *ngIf="userService.nbNotifsNonLues()>0">{{userService.nbNotifsNonLues()}}</ion-badge>
        </ion-segment-button>
    </ion-segment>
</ion-footer>
