ion-slides {
  height: 100%;
  width: 100%;

  ion-slide {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
  }

  .cuisine {
    ion-segment-button {
      font-size: 10px;
      text-transform: none;
    }

    ion-slides {
      max-width: 100%;

      ion-slide {
        width: 100% !important;
      }

      .aujourdhui {
        padding: 15px;

        ion-header {
          .aucun {
            padding: 30px;
            color: var(--ion-color-medium);
          }

          .venteOk {
            padding: 15px;
            display: flex;
            align-items: center;

            .dateAujourdhui {
              color: var(--ion-color-medium);
              text-align: center;
              width: 100%;

              .topLine {
                display: flex;
                align-items: center;
                justify-content: center;

                ion-icon {
                  margin-right: 5px;
                }
              }

              .bottomLine {
                font-size: 12px;
              }
            }

            .details {
              display: flex;
              align-items: center;
              position: absolute;
              right: 15px;

              ion-icon {
                margin-left: 5px;
              }
            }
          }
        }

        .title {
          font-weight: bold;
          margin-bottom: 15px;
        }

        ion-card {
          margin: 0 0 15px 0;
          width: 100%;
          padding: 15px;
        }

        .aPreparer {
          background-color: #0000ff25;

          .topLine {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            color: var(--ion-color-dark);

            .picture{
              height: 25px;
              width: 25px;
              margin-right: 5px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              border-radius: 100%;
            }
          }

          .bottomLine {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .leftColumn {
              .plat {
                display: flex;
                align-items: center;
                text-align: start;
                margin: 5px 0;

                ion-badge {
                  margin-right: 5px;
                }

                .remarque {
                  color: var(--ion-color-medium);
                  font-size: 12px;
                }
              }
            }
          }
        }

        .aRecuperer {
          .cardContent {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .start {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 5px;
              color: var(--ion-color-dark);

              .picture{
                height: 25px;
                width: 25px;
                margin-right: 5px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 100%;
              }
            }

            .timeAndButton {
              display: flex;
              align-items: center;

              ion-button {
                margin-left: 15px;
              }
            }
          }
        }
      }

      .planning {
        padding: 15px;

        .mesVentesItem {
          width: 100%;
          border-bottom: 1px solid lightgray;
          margin-bottom: 10px;

          .date {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid var(--ion-color-dark);
          }

          .detailsQuantites {
            margin-top: 10px;
            color: var(--ion-color-medium);
            font-size: 14px;
          }

          .buttons {
            ion-card {
              border: 1px solid var(--ion-color-medium);
              border-radius: 20px;
              padding: 10px;
            }
          }
        }
      }

      .cuisine {
        overflow-y: auto;
        display: block;

        .slideCuisine {
          height: 35%;
          width: 100%;
          display: inline-table;

          .pubImg {
            height: 100%;
            width: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }

        ion-fab {
          background-color: var(--ion-color-light);
          border-radius: 50%;
          padding: 5px;
          height: 30px;
          width: 30px;
        }

        .infos {
          display: flex;
          flex-direction: column;
          padding: 15px;
          width: 100%;

          .header {
            display: flex;
            justify-content: space-between;

            .start {
              .nom {
                .txt {
                  font-weight: bold;
                  margin-right: 6px;
                }

                .distance {
                  color: var(--ion-color-medium);
                }
              }

              .nbBoites {
                color: var(--ion-color-customthird);
                display: flex;
                align-items: center;
                margin: 5px 0px;

                ion-icon {
                  width: 20px;
                  height: 20px;
                  margin-right: 5px;
                }
              }
            }

            .end {
              display: flex;
              flex-direction: column;
              align-items: end;

              .note {
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: end;

                img {
                  height: 19px;
                  width: 19px;
                  margin-left: 5px;
                }
              }

              .nbNotes {
                color: var(--ion-color-medium);
                font-size: 12px;
                margin-top: 2px;
              }
            }
          }

          .localisation {

            .adresse {
              color: var(--ion-color-medium);
              display: flex;
              align-items: center;

              ion-icon {
                margin-right: 5px;
                min-width: 16px;
                min-height: 16px;
              }

              ion-text {
                font-size: 14px;
                text-align: start;
              }
            }

            .btnNav {
              min-width: 34px;
              min-height: 32px;
              margin-left: 5px;
            }
          }
        }

        .categorie {
          width: 100%;
          padding: 0 15px;
          text-align: start;
          display: flex;
          flex-direction: column;

          .titre {
            width: 100%;
            border-bottom: 1px solid black;
            text-transform: capitalize;
          }

          .commande-item {
            display: flex;
            width: 100%;
            padding: 15px 0;

            .commandeImg {
              width: 75px;
              height: 75px;
              margin-right: 15px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }

            .infos-commande {
              font-size: 14px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              width: 100%;
              padding-bottom: 10px;
              border-bottom: 1px solid var(--ion-color-medium);

              .statut {
                span {
                  text-transform: capitalize;
                }
              }

              .date {
                font-weight: bold;
                margin-bottom: 7.5px;
              }

              .editBtn {
                background-color: var(--ion-color-customthird);
                border-radius: 50%;
                min-width: 24px;
                min-height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                ion-icon {
                  width: 16px;
                  height: 16px;
                }
              }
            }
          }

          .aucun {
            color: var(--ion-color-medium);
            padding: 25px;
            font-size: 15px;
            text-align: center;
          }

          ion-button {
            text-transform: none;
            margin-bottom: 15px;
          }

          .categorie {
            width: 100%;
          }
        }
      }

      .paiements {
        font-size: 12px;
        padding: 0 15px 15px 15px;

        .commande{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: end;
          border-bottom: 1px solid var(--ion-color-medium);
        }

        .topLine {
          font-weight: bold;
        }

        .dataLine {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0;
        }

        .details {
          width: 80%;
          .plat{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            color: var(--ion-color-medium);
            margin: 10px 0;
          }
          .comptaLine{
             color: var(--ion-color-medium);
              display: flex;
              justify-content: space-between;
              padding: 10px 0;
          }
        }

        .date {
          width: 35%;
          text-align: start;
        }

        .id {
          width: 20%;
          text-align: end;
          padding-left: 5px;
        }

        .solde {
          width: 20%;
          text-align: end;
          padding-left: 5px;
        }

        .versementNet {
          width: 20%;
          text-align: end;
          padding-left: 5px;
        }

        .chevron {
          width: 5%;
          display: flex;
          padding-left: 5px;
        }
      }
    }
  }

  .accueil {
    /*ion-header {
      ion-toolbar {
        ion-searchbar {
          text-align: start;
        }

        ion-badge {
          position: absolute;
          right: 0;
          top: 0;
          border-radius: 100%;
        }
      }
    }*/

    .choixDate {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      .date {
        div {
          color: var(--ion-color-medium);
          font-size: 15px;
          display: flex;
          align-items: center;

          ion-icon {
            margin-right: 5px
          }
        }
      }

      .changeDate {
        padding: 25px;
      }
    }

    .ventes {
      overflow: auto;
    }

    ion-fab {
      ion-badge {
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 100%;
        min-width: 20px;
        min-height: 20px;
      }
    }
  }

  .recherches{
    ion-content {

      .ventes {
        overflow: auto;
        text-align: center;

        .dateItem {
          text-align: start;
          color: var(--ion-color-dark);
          border-bottom: 2px solid var(--ion-color-dark);
          margin: 0 10px;
          font-weight: bold;
        }
      }
    }

  }

  .commandes {

    padding: 30px 15px 15px 15px;
    overflow: auto;
    width: 100%;

    .titre {
      width: 100%;
      border-bottom: 1px solid var(--ion-color-customsecond);
      //text-transform: capitalize;
      font-weight: bold;
      text-align: start;
    }

    .aRecupItem {
      padding: 15px;
      width: 100%;
      cursor: pointer;

      .date {
        text-align: start;
        margin-bottom: 5px;
        color: var(--ion-color-dark);
      }

      .cuisine {
        .start {
          text-align: start;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          color: var(--ion-color-medium);
          font-size: 12px;
        }

        .adresse {
          min-width: 0;
          flex: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          opacity: 0.8;

          ion-icon {
            margin-bottom: -2px;
          }
        }

        ion-button {
          text-transform: unset;
          height: 22px;
          font-size: 13px;
        }
      }

      .details {
        padding: 5px 5px 10px 5px;
        border-bottom: 1px solid var(--ion-color-medium);
      }

      .total {
        padding: 5px 5px 0 5px;
      }
    }

    .termineeItem {
      padding: 15px;
      width: 100%;
      border-bottom: 1px solid var(--ion-color-medium);

      .header {
        ion-button {
          text-transform: unset;
          height: 22px;
          font-size: 13px;
        }
      }

      .body {
        text-align: start;
        color: var(--ion-color-medium);
        font-size: 14px;
      }
    }

    .aucune {
      margin: 30px 0;
      color: gray;
      font-size: 16px;
      text-align: left;
    }
  }

  .profil {
    align-items: baseline;

    .titre {
      width: 100%;
      text-align: center;
      padding: 15px;
      color: var(--ion-color-dark);
      border-bottom: 1px solid var(--ion-color-medium);
      text-transform: uppercase;
      font-weight: bold;
    }

    .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .picture{
        height: 200px;
        width: 200px;
        margin: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .user {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 25px;

        ion-icon {
          width: 50px;
          height: 50px;
        }
      }

      .date {
        color: var(--ion-color-medium);
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid var(--ion-color-medium);
        padding-bottom: 10px;
        width: 100%;

        ion-icon {
          padding: 0 5px 0 15px;
        }
      }
    }

    .info {
      padding: 15px 15px 0 15px;
      text-align: start;
      width: 100%;

      .intitule {
        color: var(--ion-color-medium);
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-bottom: 5px;

        ion-icon {
          padding-right: 5px;
        }
      }

      .val {
        .start {
          display: flex;
          align-items: center;
        }

        ion-avatar {
          img {
            width: 20px;
            height: 20px;
            margin: 5px;
          }

          width: 30px;
          height: 30px;
          margin-right: 5px;
        }
      }
    }

    .devenirCuisinier {
      width: 100%;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-button {
        text-transform: unset;
      }
    }
  }
}

ion-footer {
  img {
    height: 75px;
    width: 75px;
  }

  ion-segment-button {
    width: 33%;
  }
}

#map {
  height: 100%;
  background-color: var(--ion-color-primary);
}
