ion-header {
  background: white;
  padding: 15px;
}

ion-content {
  --padding-bottom: 15px;
  --padding-top: 15px;
  --padding-start: 15px;
  --padding-end: 15px;

  .titre {
    font-weight: bold;
    font-size: 25px;
    margin: 0 10px 30px 10px;
    text-align: center;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--ion-color-medium);
    padding: 10px 0px;

    .start {
      display: flex;
      align-items: center;

      ion-icon {
        margin-right: 5px;
      }
    }

    .end {
      display: flex;
      align-items: center;
      .hour{
        padding: 10px;
        margin: 0 10px;
        box-shadow: 0px 0px 5px var(--ion-color-medium);
        border-radius: 5px;
      }
    }
  }

  .categorie {
    width: 100%;
    .cat {
      color: var(--ion-color-medium);
      border-bottom: 1px solid var(--ion-color-medium);
      text-transform: capitalize;
      text-align: center;
    }

    .vente-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 15px 0;

      .venteImg {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .quantite{
        text-align: end;
        ion-input{
          border-bottom: 1px solid var(--ion-color-medium);
          padding-bottom: 5px;
        }
      }
    }
  }
}
