<ion-header [ngStyle]="{'padding-top' : userService.getMargin()}">
<ion-icon name="arrow-back" color="dark" size="large" (click)="back()"></ion-icon>
</ion-header>

<ion-content>
    <div class="titre">
        <ion-text *ngIf="!editing">
            Nouvelle vente
        </ion-text>
        <ion-text *ngIf="editing">
            Modifier vente
        </ion-text>
    </div>
    <div class="info">
        <div class="start">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-text>Date</ion-text>
        </div>
        <div class="end">
            <ion-datetime
                    (ionChange)="changeDate($event)"
                    name="date"
                    display-format="DDDD D MMMM YYYY"
                    picker-format="D MMMM YYYY"
                    month-names="Janvier, Février, Mars, Avril, Mai, Juin, Juillet, Août, Septembre, Octobre, Novembre, Décembre"
                    day-names="Dimanche, Lundi, Mardi, Mercredi, Jeudi, Vendredi, Samedi"
                    [min]="currentDate"
                    [value]="currentDate"
                    [max]="(nowDate.getFullYear()+1)+'-12-31'"
                    cancel-text="Annuler"
                    done-text="Choisir">
            </ion-datetime>
        </div>
    </div>
    <div class="info">
        <div class="start">
            <ion-icon name="time-outline"></ion-icon>
            <ion-text>Horaires</ion-text>
        </div>
        <div class="end">
            <ion-datetime class="hour"
                          (ionChange)="changeHeureDebut($event)"
                          [max]="toISOString(ventesService.newVente.heureFin)"
                          [value]="currentHourDebut"
                          name="hour"
                          display-format="H:mm"
                          picker-format="H : mm"
                          minuteValues="0,15,30,45"
                          cancel-text="Annuler"
                          done-text="Choisir">
            </ion-datetime>
            -
            <ion-datetime class="hour"
                          (ionChange)="changeHeureFin($event)"
                          [min]="toISOString(ventesService.newVente.heureDebut)"
                          [value]="currentHourFin"
                          name="hour"
                          display-format="H:mm"
                          picker-format="H : mm"
                          minuteValues="0,15,30,45"
                          cancel-text="Annuler"
                          done-text="Choisir">
            </ion-datetime>
        </div>
    </div>
    <div class="titre" style="font-size: 16px; margin: 15px">
        <ion-text>
            Menu
        </ion-text>
    </div>
    <div *ngIf="isEmpty()" style="color: var(--ion-color-medium); width: 100%; text-align: center">
        Aucun élément dans la vente
    </div>
    <div class="categorie" *ngFor="let cat of ventesService.order">
        <div class="cat" *ngIf="ventesService.newVente.menu[ventesService.retirerAccents(cat)].length>0">
            {{cat}}
        </div>
        <div class="vente-item" *ngFor="let element of ventesService.newVente.menu[ventesService.retirerAccents(cat)]; let i=index">
            <div style="display: flex; align-items: center">
                <div class="venteImg" [ngStyle]="{'background-image': 'url('+element.img+')'}"></div>
                <ion-text>{{element.nom}}</ion-text>
            </div>
            <div class="quantite">
                <div>Quantité disponible</div>
                <div>
                    <ion-input [(ngModel)]="element.quantite" type="number" placeHolder="-"></ion-input>
                </div>
            </div>
        </div>
    </div>
    <ion-button style="width: 100%; margin-top: 15px;" (click)="presentAddElement()" *ngIf="!tousLesElementsDansVente()">
        Ajouter un élément
    </ion-button>
    <ion-button style="width: 100%; position: fixed; bottom: 15px; padding-right: 30px;" color="success" (click)="ajouterVente()" [disabled]="disabledBtn()">
        Valider
    </ion-button>
</ion-content>
