.pubImg {
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.infos{
  padding: 15px;
  div{
    margin-bottom: 5px;
  }
  .flexHorizontal{
     display: flex;
     justify-content: space-between;
     align-items: center;
   }

  .titre {
    width: 100%;
    border-bottom: 1px solid black;
    text-transform: capitalize;
  }
  li{
    margin-left: 15px;
  }
}
