<ion-fab vertical="top" horizontal="start">
    <ion-icon name="close-circle" color="light" size="large" (click)="close()"></ion-icon>
</ion-fab>
<ion-content>
    <div class="pubImg" [ngStyle]="{'background-image': 'url('+plat.img+')', 'height': userService.getImgHeight()}" (click)="openPhoto()"></div>
    <div class="infos">
        <div class="flexHorizontal header">
            <div>{{plat.nom}}</div>
            <div style="white-space: nowrap;"><b>{{ventesService.prixFormat(plat.prix)}} €</b></div>
        </div>
        <div class="titre">
            Ingrédients
        </div>
        <div *ngFor="let ingredient of plat.ingredients">
            <li>{{ingredient}}</li>
        </div>
    </div>
</ion-content>
