ion-header {
  background: white;
  padding: 15px;
}

ion-content {
  --padding-bottom: 15px;
  --padding-top: 15px;
  --padding-start: 15px;
  --padding-end: 15px;

  .titre {
    font-weight: bold;
    font-size: 25px;
    margin: 0 10px 30px 10px;
    text-align: center;
  }

  .chooseCountry{
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 10px 10px 10px 0;
    ion-avatar{
      width: 25px;
      height: 25px;
      margin-right: 5px;
    }
  }

  ion-button{
    width: 100%;
  }
}
