<ion-header>
    <ion-icon class="pointer" name="arrow-back" color="dark" size="large" (click)="back()"></ion-icon>
</ion-header>

<ion-content>
    <div style="width: 100%; height: 100%; display: flex; justify-content: center">
        <div class="maxWidth">
            <div class="titre">
                <ion-text>
                    Modifiez votre numéro de téléphone
                </ion-text>
            </div>

            <ion-text *ngIf="!isIos()">Nous vous enverrons un SMS pour confirmer votre nouveau numéro de téléphone.
            </ion-text>

            <!--Formulaire numéro téléphone-->
            <ion-item style="margin: 20px 0;">
                <ion-label position="stacked" color="customsecond">
                    <ion-icon name="call" color="customsecond"></ion-icon>
                    Téléphone
                </ion-label>
                <div style="display: flex">
                    <ion-card class="chooseCountry" (click)="openSelectCountry($event)">
                        <ion-avatar>
                            <img src="{{countriesService.selectedCountry.flag}}">
                        </ion-avatar>
                        <ion-text>
                            {{countriesService.selectedCountry.dial_code}}
                        </ion-text>
                        <ion-icon name="caret-down"></ion-icon>
                    </ion-card>
                    <ion-input [(ngModel)]="phone" type="tel" maxlength="10"></ion-input>
                </div>
                <ion-text color="danger" *ngIf="errorPhone">
                    <li>{{ errorPhone }}</li>
                </ion-text>
            </ion-item>
            <div id="sign-in-button" style="visibility: hidden"></div>

            <ion-button icon-start block color="customdegrade"
                        (click)="valider()"
                        [disabled]="validForm()">
                Valider
            </ion-button>
        </div>
    </div>
</ion-content>
