<div class="note" *ngIf="note!='-'">
  <ion-icon *ngFor="let e of [].constructor(truncate(note))"
            name="star"
            color="customfirst"></ion-icon>
  <ion-icon *ngIf="isHalfRating(note)" name="star-half"
            color="customfirst"></ion-icon>
  <ion-icon
          *ngFor="let e of [].constructor(nbEmptyStars(note))"
          name="star-outline" color="customfirst"></ion-icon>
  <!--<ion-text color="customsecond">{{note}}</ion-text>-->
</div>
<div class="note" *ngIf="note=='-'">
  <div style="color: var(--ion-color-customsecond)">-</div>
</div>
