ion-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  --padding-bottom: 15px;
  --padding-end: 15px;
  --padding-start: 15px;
  --padding-top: 15px;

  .pubImg {
    height: 200px;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .categorie {
    width: 100%;
  }

  .titre {
    width: 100%;
    border-bottom: 1px solid black;
    text-transform: capitalize;
  }

  .vente-item {
    display: flex;
    width: 100%;
    padding: 15px 0;

    .venteImg {
      width: 50px;
      height: 50px;
      margin-right: 15px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .infos-vente {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      .ingredients {
        color: var(--ion-color-medium);
      }

      .ajouter {
        display: flex;
        flex-direction: column;
        align-items: center;

        .compteur {
          display: flex;
          align-items: center;

          ion-icon {
            color: var(--ion-color-customthird);
          }

          ion-text {
            margin: 0 5px;
          }
        }

        ion-button {
          text-transform: capitalize;
          height: 22px;
          font-size: 13px;
        }
      }
    }
  }
}

  .flexHorizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
