<ion-content>
    <div class="categorie" *ngFor="let cat of ventesService.order">
        <div class="titre" *ngIf="vente.menu[ventesService.retirerAccents(cat)].length>0">
            {{cat}}
        </div>
        <div class="vente-item" *ngFor="let plat of vente.menu[ventesService.retirerAccents(cat)]; let i=index"
             (click)="ventesService.presentPlatPopover(plat)">
            <div style="display: flex; align-items: center">
                <div class="venteImg" [ngStyle]="{'background-image': 'url('+plat.img+')'}"></div>
            </div>
            <div class="infos-vente">
                <div class="flexHorizontal">
                    <ion-text>{{plat.nom}}</ion-text>
                    <ion-text><b>{{plat.qteAchetee}}</b></ion-text>
                </div>
            </div>
        </div>
    </div>
</ion-content>
