<ion-fab vertical="top" horizontal="start" [ngStyle]="{'margin-top' : userService.getMargin()}">
    <ion-icon class="pointer" name="arrow-back-circle" color="light" size="large" (click)="back()"></ion-icon>
</ion-fab>
<ion-fab vertical="top" horizontal="end" [ngStyle]="{'margin-top' : userService.getMargin()}">
    <ion-icon class="pointer" *ngIf="userService.user" name="chatbubble-ellipses" color="light" size="large" (click)="ventesService.openChat(id, userService.userInfo.uid)"></ion-icon>
    <ion-icon class="pointer" name="ellipsis-vertical-circle" color="light" size="large"></ion-icon>
</ion-fab>
<ion-content>
    <ion-slides [pager]="cuisine().photos.length>1">
        <ion-slide *ngFor="let photo of cuisine().photos" style="padding: 0">
            <div class="pubImg"
                 [ngStyle]="{'background-image': 'url('+photo+')', 'height': userService.getImgHeight()}"></div>
        </ion-slide>
    </ion-slides>
    <div style="width: 100%; height: 100%; display: flex; justify-content: center">
        <div class="maxWidth">
    <div class="infos">
        <div class="header">
            <div class="start">
                <div class="nom">
                    <span class="txt">{{cuisine().nom}}</span> <span
                        class="distance">à {{ventesService.calculateDistance(cuisine().geoloc)}} km</span>
                </div>
                <div class="nbBoites">
                    <ion-icon name="cube"></ion-icon>
                    <ion-text>{{cuisine().nbBoxPreparees}} commande<span *ngIf="cuisine().nbBoxPreparees!=1">s</span>
                        préparée<span *ngIf="cuisine().nbBoxPreparees!=1">s</span></ion-text>
                </div>
            </div>
            <div class="end pointer" (click)="openEvaluations()">
                <div style="display: flex; align-items: center">
                    <app-notation [note]="ventesService.getMoyenne(cuisine())"></app-notation>
                    <ion-text>{{cuisine().avis.length ? ventesService.getMoyenne(cuisine()) : '-'}}</ion-text>
                </div>
                <div class="nbNotes">
                    ({{cuisine().avis.length}} évaluation<span *ngIf="cuisine().avis.length!=1">s</span>)
                </div>
            </div>
        </div>
        <div class="localisation flexHorizontal" *ngIf="userService.user && userService.getCommandes(cuisine()).length>0">
            <div class="adresse">
                <ion-icon name="location-outline"></ion-icon>
                <ion-text>{{cuisine().adresse}}</ion-text>
            </div>
            <ion-icon style="cursor:pointer;" class="btnNav" name="navigate-circle" color="customthird" size="large"
                      (click)="userService.openMap(cuisine())"></ion-icon>
        </div>
    </div>
    <ion-segment (ionChange)="slides.slideTo(Number(segment))" [(ngModel)]="segment"
                 style="background-color: #ffffff">
        <ion-segment-button *ngFor="let seg of segments; let i=index" value="{{i}}">
            <ion-text>{{seg}}</ion-text>
        </ion-segment-button>
    </ion-segment>
    <ion-slides autoheight #slides (ionSlideWillChange)="onSlideChange(slides.getActiveIndex())" [options]="slideOpts">
        <ion-slide>
            <div class="titre" *ngIf="userService.user">
                Mes commandes
            </div>
            <div *ngIf="userService.user">
                <div class="commande-item" *ngFor="let commande of userService.getCommandes(cuisine()); let i=index"
                     [ngStyle]="{'border-bottom': commandeItemBorder(i)}"
                     (click)="ventesService.open('commande', commande.id)">
                    <div style="display: flex; align-items: center">
                        <div class="commandeImg"
                             [ngStyle]="{'background-image': 'url('+ventesService.getPlats(commande)[0].img+')'}"></div>
                    </div>
                    <div class="infos-commande">
                        <div *ngFor="let plat of ventesService.getPlats(commande)">
                            <ion-text><b>{{plat.quantite}}</b> {{plat.nom}}</ion-text>
                        </div>
                        <div style="padding: 10px 0"><b>{{ventesService.prixFormat(ventesService.total(commande))}} €</b>
                        </div>
                        <div class="statut"
                             [ngStyle]="{'font-weight' : getBold(commande)}">{{ commande.dateRecup.toDate() | date:'dd/MM/yyyy' }}
                            - <span>{{commande.statut}}</span></div>
                    </div>
                </div>
            </div>
            <div class="aucun" *ngIf="userService.user && userService.getCommandes(cuisine()).length==0">
                <ion-text>Pas de commandes</ion-text>
            </div>
            <div class="titre">
                Prochaines ventes
            </div>
            <div class="commande-item" *ngFor="let vente of ventesService.getVentesCuisine(cuisine()); let i=index"
                 [ngStyle]="{'border-bottom': venteItemBorder(i)}">
                <div style="display: flex; align-items: center">
                    <div class="commandeImg"
                         [ngStyle]="{'background-image': 'url('+ventesService.getPlats(vente)[0].img+')'}"></div>
                </div>
                <div class="infos-commande">
                    <div class="date">{{ vente.date | date:'dd MMMM'}}, {{vente.horaires.debut | date:'HH:mm'}}
                        - {{vente.horaires.fin | date:'HH:mm'}}</div>
                    <div class="flexHorizontal">
                        <div>
                            <div style="padding: 2.5px 5px 2.5px 0; font-size: 14px"
                                 *ngFor="let plat of ventesService.getPlats(vente)">
                                <ion-text>{{plat.nom}}</ion-text>
                            </div>
                        </div>
                        <div>
                            <ion-button color="customthird" (click)="ventesService.open('vente', vente.id)">Commander
                            </ion-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aucun" *ngIf="ventesService.getVentesCuisine(cuisine()).length==0">
                <ion-text>Pas de ventes</ion-text>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="categorie" *ngFor="let cat of ventesService.order">
                <div class="titre">
                    {{cat}}
                </div>
                <div class="commande-item"
                     *ngFor="let plat of cuisine().menu[ventesService.retirerAccents(cat)]; let i=index"
                     [ngStyle]="{'border-bottom': articleItemBorder(cat, i)}"
                     (click)="ventesService.presentPlatPopover(plat)">
                    <div style="display: flex; align-items: center">
                        <div class="commandeImg" [ngStyle]="{'background-image': 'url('+plat.img+')'}"></div>
                    </div>
                    <div class="infos-commande">
                        <div class="flexHorizontal">
                            <ion-text>{{plat.nom}}</ion-text>
                            <b>{{ventesService.prixFormat(plat.prix)}} €</b>
                        </div>
                        <ion-text color="medium">{{ventesService.getIngredients(plat)}}</ion-text>
                    </div>
                </div>
                <div class="aucun" *ngIf="cuisine().menu[ventesService.retirerAccents(cat)].length==0">
                    Aucun article
                </div>
            </div>
        </ion-slide>
        <ion-slide class="Evaluations">
            <div *ngIf="!cuisine().avis.length">
                <ion-text color="medium">Aucune évaluation</ion-text>
            </div>
            <div *ngFor="let avis of cuisine().avis" class="avis">
                <div>
                    <div *ngIf="avis.userData" class="picture" [ngStyle]="{'background-image': 'url('+avis.userData.photo+')'}"></div>
                </div>
                <div class="infosAvis">
                    <div class="header">
                        <div class="start">
                            <div *ngIf="avis.userData" class="nom">{{avis.userData.prenom}} {{avis.userData.nom}}</div>
                            <app-notation [note]="avis.note"></app-notation>
                        </div>
                        <div class="end">
                            Il y a {{tempsDepuis(toDate(avis.date))}}
                        </div>
                    </div>
                    <div class="remarque" *ngIf="avis.remarque">
                        <ion-text>{{avis.remarque}}</ion-text>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
        </div>
    </div>
</ion-content>
