ion-fab {
  ion-icon {
    margin-right: 5px;
    height: 40px;
    width: 40px;
  }
}

ion-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .pubImg {
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .infos {
    display: flex;
    flex-direction: column;
    padding: 15px;

    .header {
      display: flex;
      justify-content: space-between;

      .start {
        .nom {
          .txt {
            font-weight: bold;
            margin-right: 6px;
          }

          .distance {
            color: var(--ion-color-medium);
          }
        }

        .nbBoites {
          color: var(--ion-color-customthird);
          display: flex;
          align-items: center;
          margin: 5px 0px;

          ion-icon {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
        }
      }

      .end {
        display: flex;
        flex-direction: column;
        align-items: end;

        .note {
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: end;
          img{
            height: 19px;
            width: 19px;
            margin-left: 5px;
          }
        }

        .nbNotes {
          color: var(--ion-color-medium);
          font-size: 12px;
          margin-top: 2px;
        }
      }
    }

    .localisation {

      .adresse {
        color: var(--ion-color-medium);
        display: flex;
        align-items: center;

        ion-icon {
          margin-right: 5px;
          min-width: 16px;
          min-height: 16px;
        }

        ion-text {
          font-size: 14px;
        }
      }

      .btnNav {
        min-width: 34px;
        min-height: 32px;
        margin-left: 5px;
      }
    }
  }

  ion-slides {
    width: 100%;

    ion-slide {
      width: 100%;
      padding: 15px;
      text-align: start;
      display: flex;
      flex-direction: column;

      .titre {
        width: 100%;
        border-bottom: 1px solid black;
        text-transform: capitalize;
      }

      .commande-item {
        display: flex;
        width: 100%;
        padding: 15px 0;

        .commandeImg {
          width: 75px;
          height: 75px;
          margin-right: 15px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .infos-commande {
          font-size: 14px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;

          .statut {
            span {
              text-transform: capitalize;
            }
          }

          .date{
            font-weight: bold;
            margin-bottom: 7.5px;
          }
        }
      }

      .aucun {
        color: var(--ion-color-medium);
        padding: 25px;
        font-size: 15px;
        text-align: center;
      }

      ion-button{
        text-transform: capitalize;
      }

      .categorie{
        width: 100%;
      }
    }
  }
}
.Evaluations{
  .avis{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #CFCFCF;
    padding: 15px;
    .picture{
      height: 50px;
      width: 50px;
      margin-right: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 100%;
    }
    .infosAvis{
      width: inherit;
      .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .start{
          .nom{
            font-weight: bold;
            margin-bottom: 5px;
          }
          app-notation{
            margin: 5px 0;
          }
        }
        .end{
          color: var(--ion-color-medium);
        }
      }
      .remarque{
        margin-top: 5px;
      }
    }
  }
}
.flexHorizontal{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
