ion-fab {
  ion-icon {
    margin-right: 5px;
  }
}

ion-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .pubImg {
    height: 200px;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .infos {
    display: flex;
    flex-direction: column;
    padding: 15px;

    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      .start {
        .date {
          color: var(--ion-color-medium);
          display: flex;
          align-items: center;
          margin-top: 5px;

          ion-icon {
            margin: 0 5px;
            height: 20px;
            width: 20px;
          }
        }
      }

      .end {
        display: flex;
        align-items: center;
      }
    }

    .categorie {
      width: 100%;
    }

    .titre {
      width: 100%;
      border-bottom: 1px solid black;
      text-transform: capitalize;
    }

    .vente-item {
      display: flex;
      width: 100%;
      padding: 15px 0;

      .venteImg {
        width: 75px;
        height: 75px;
        margin-right: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .infos-vente {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        .ingredients {
          color: var(--ion-color-medium);
        }

        .ajouter {
          display: flex;
          flex-direction: column;
          align-items: center;
          .compteur {
            display: flex;
            align-items: center;
            margin: 10px 0;

            ion-icon {
              color: var(--ion-color-customthird);
              height: 30px;
              width: 30px;
            }

            ion-text {
              margin: 0 5px;
            }
          }
          ion-button{
            text-transform: capitalize;
            height: 22px;
            font-size: 13px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}

ion-fab {
  ion-badge {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    min-width: 20px;
    min-height: 20px;
  }
}

.flexHorizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
