<ion-fab vertical="top" horizontal="start" [ngStyle]="{'margin-top' : userService.getMargin()}">
    <ion-icon name="arrow-back-circle" color="light" size="large" (click)="back()"></ion-icon>
</ion-fab>
<ion-content>
    <ion-slides [pager]="ventesService.getPlats(vente()).length>1">
        <ion-slide *ngFor="let plat of ventesService.getPlats(vente())">
            <div class="pubImg" [ngStyle]="{'background-image': 'url('+plat.img+')', 'height': userService.getImgHeight()}"></div>
        </ion-slide>
    </ion-slides>
    <div class="infos">
        <div class="header" (click)="ventesService.open('cuisine', ventesService.getCuisine(vente()).id)">
            <div class="start">
                <div>
                    <ion-text><b>{{ventesService.getCuisine(vente()).nom}}</b> à {{ventesService.calculateDistance(ventesService.getCuisine(vente()).geoloc)}} km</ion-text>
                </div>
                <div class="date">
                    <ion-icon name="calendar-outline"></ion-icon>
                    <ion-text *ngIf="isToday()">Aujourd'hui</ion-text>
                    <ion-text *ngIf="isTomorrow()">Demain</ion-text>
                    <ion-text *ngIf="!(isToday() ||isTomorrow())">{{ vente().date | date:'dd/MM/yyyy' }}</ion-text>
                </div>
                <div class="date">
                    <ion-icon name="time-outline"></ion-icon>
                    <ion-text>{{vente().horaires.debut | date:'HH:mm'}} - {{vente().horaires.fin | date:'HH:mm'}}</ion-text>
                </div>
            </div>
            <div class="end">
                <ion-icon style="cursor: pointer" class="btnNav" name="navigate-circle" color="customthird" size="large" (click)="userService.openMap(ventesService.getCuisine(vente()))"></ion-icon>
            </div>
        </div>
        <div class="categorie" *ngFor="let cat of ventesService.order">
            <div class="titre" *ngIf="vente().menu[ventesService.retirerAccents(cat)].length>0">
                {{cat}}
            </div>
            <div class="vente-item" *ngFor="let plat of vente().menu[ventesService.retirerAccents(cat)]; let i=index" (click)="ventesService.presentPlatPopover(plat)">
                <div style="display: flex; align-items: center">
                    <div class="venteImg" [ngStyle]="{'background-image': 'url('+plat.img+')'}"></div>
                </div>
                <div class="infos-vente">
                    <div class="flexHorizontal">
                        <ion-text>{{plat.nom}}</ion-text>
                        <b>{{ventesService.prixFormat(plat.prix)}} €</b>
                    </div>
                    <div class="flexHorizontal">
                        <div class="ingredients" *ngIf="plat.ingredients.length>0">
                            <div color="medium">{{plat.ingredients[0]}}</div>
                            <div color="medium" *ngIf="plat.ingredients.length>1">{{plat.ingredients[1]}}</div>
                            <div color="medium" *ngIf="plat.ingredients.length>2">...</div>
                        </div>
                        <div class="ajouter">
                            <div class="compteur">
                                <ion-icon name="remove-circle" (click)="removeQuantite(plat);$event.stopPropagation();" [ngStyle]="{'opacity': minusOpacity(plat)}"></ion-icon>
                                <ion-text>{{plat.quantiteAAjouter}}</ion-text>
                                <ion-icon name="add-circle" (click)="addQuantite(plat);$event.stopPropagation();" [ngStyle]="{'opacity': maxOpacity(plat)}"></ion-icon>
                            </div>
                            <ion-button color="customthird" [disabled]="plat.quantiteAAjouter==0" (click)="addPlat(cat, plat);$event.stopPropagation();">Ajouter</ion-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" *ngIf="userService.user && ventesService.getPanierLength()>0">
    <ion-fab-button color="customthird" (click)="userService.presentPanierPopover()">
        <ion-icon name="basket-outline"></ion-icon>
    </ion-fab-button>
    <ion-badge color="danger">{{ventesService.getPanierLength()}}</ion-badge>
</ion-fab>
