<ion-header>
    <ion-toolbar>
        <ion-icon slot="start" size="large" name="arrow-back" (click)="back()" style="margin-left: 10px"></ion-icon>
    </ion-toolbar>
</ion-header>
    <div id="container" #container style="width: 100vw; height: 100vh;">
<!--        <capacitor-google-maps id="map" #map></capacitor-google-maps>-->
    </div>
