ion-content{
  --background: radial-gradient(#ff9c05, #ff4e00);
}

#container {
  text-align: center;
  width: inherit;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-item{
  --background: transparent;
}
