<ion-content [fullscreen]="true">
    <ion-fab vertical="top" horizontal="start" (click)="goToPrincipale()" style="cursor: pointer">
        <ion-icon name="arrow-back-outline" size="large" color="light"></ion-icon>
    </ion-fab>
    <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center">
        <div id="container" style="height: fit-content">
            <div style="text-align: center">
                <img src="assets/Logo_COOKDAY_Blanc.svg" style="width: 50%; margin-bottom: 20px;">
                <!--<ion-text color="primary" style="font-style: italic; font-size: 30px">
                    <p style="padding: 0 10px">Phrase d'accroche de l'application</p>
                </ion-text>-->
            </div>
            <div class="ion padding-horizontal ion-text-center" style="width: 100%; margin-bottom: 5px">
                <div style="padding:10px; z-index:1; max-width: 600px; margin-left: auto; margin-right: auto">
                    <!-- Login form -->
                    <form [formGroup]="loginForm" class="list-form">

                        <!--Formulaire adresse mail-->
                        <ion-item lines="none" style="border-bottom: 1px solid grey;">
                            <ion-label position="stacked" color="light">
                                <ion-icon name="mail" color="light"></ion-icon>
                                Email
                            </ion-label>
                            <ion-input clearInput="" maxlength="60" type="email" formControlName="email"></ion-input>
                        </ion-item>
                        <ion-text color="danger" *ngIf="formErrors.email">
                            <li *ngFor="let error of formErrors.email">
                                {{ error }}
                            </li>
                        </ion-text>

                        <!--Formulaire mot de passe-->
                        <ion-item lines="none" style="border-bottom: 1px solid grey;">
                            <ion-label position="stacked" color="light">
                                <ion-icon name="lock-closed" color="light"></ion-icon>
                                Mot de passe
                            </ion-label>
                            <ion-input clearInput="" maxlength="60" type="password"
                                       formControlName="password"></ion-input>
                        </ion-item>
                        <ion-text color="danger" *ngIf="formErrors.password">
                            <li *ngFor="let error of formErrors.password">
                                {{ error }}
                            </li>
                            <li *ngIf="errorPassword!=''">
                                {{errorPassword}}
                            </li>
                        </ion-text>
                    </form>

                    <!--Mot de passe oublié-->
                    <ion-item lines="none">
                        <ion-text slot="end" color="light" (click)="forgotPass()" style="cursor: pointer">
                            Mot de passe oublié
                        </ion-text>
                    </ion-item>

                    <!--Se connecter-->
                    <div class="ion-padding-horizontal ion-padding-vertical ion-text-center full"
                         *ngIf="connecting; else boutonConnection">
                        <ion-spinner name="lines" color="light"></ion-spinner>
                    </div>
                    <ng-template #boutonConnection>
                        <div>
                            <ion-button color="light" (click)="login()" style="width:100%">
                                <ion-icon name="log-in" style="margin-right:5px" color="customthird"></ion-icon>
                                Se connecter
                            </ion-button>
                        </div>
                    </ng-template>

                </div>
            </div>
            <div>
                <div align="center" style="margin-top:10px; display: flex; justify-content: center; align-items: center;">
                    <ion-text style="padding-right: 5px">Nouvel utilisateur?</ion-text>
                    <ion-button color="light">
                        <ion-text color="customthird" (click)="goToRegister()" style="text-transform: none">
                            <strong>Inscrivez vous</strong>
                        </ion-text>
                    </ion-button>
                </div>
            </div>
        </div>
    </div>
</ion-content>
