ion-item {
  --background: rgba(0, 0, 0, 0);
  width: 100%;
}

ion-input {
  background-color: transparent;
  margin-top: 5px;
  border-radius: 30px;
}

.avatar {
  border: solid 1px grey;
  height: 120px;
  width: 120px;
  margin: 5px;
  text-align: center;

  img {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.chooseCountry{
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 10px 10px 10px 0;
  ion-avatar{
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
}
