<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-item lines="none">
                <ion-icon
                        name="arrow-back"
                        color="customsecond"
                        (click)="goTologin()"
                        size="large"
                ></ion-icon>
                <ion-text color="customsecond" style="font-size: 20px; margin-left: 15px">
                    Inscription
                </ion-text>
            </ion-item>
        </ion-toolbar>
    </ion-header>

    <div style="width: 100%; height: 100%; display: flex; justify-content: center">
        <div class="maxWidth">
            <div style="padding: 10px;">

                <form [formGroup]="registerForm" class="list-form">

                    <!--Formulaire pseudo-->
                    <ion-item disabled="{{sending}}">
                        <ion-label position="stacked" color="customsecond">
                            <ion-icon name="person" color="customsecond"></ion-icon>
                            Prénom et nom
                        </ion-label>
                        <ion-input [(ngModel)]="prenom" formControlName="login" type="text"
                                   placeHolder="Prénom"></ion-input>
                        <ion-text color="danger" *ngIf="formErrors.email">
                            <li *ngFor="let error of formErrors.prenom">
                                {{ error }}
                            </li>
                        </ion-text>
                    </ion-item>
                    <ion-item disabled="{{sending}}">
                        <ion-input [(ngModel)]="nom" formControlName="login" type="text" placeHolder="Nom"></ion-input>
                        <ion-text color="danger" *ngIf="formErrors.email">
                            <li *ngFor="let error of formErrors.nom">
                                {{ error }}
                            </li>
                        </ion-text>
                    </ion-item>

                    <!--Formulaire adresse mail-->
                    <ion-item disabled="{{sending}}">
                        <ion-label position="stacked" color="customsecond">
                            <ion-icon name="mail" color="customsecond"></ion-icon>
                            Email
                        </ion-label>
                        <ion-input [(ngModel)]="email" formControlName="email" type="email"></ion-input>
                        <ion-text color="danger" *ngIf="formErrors.email">
                            <li *ngFor="let error of formErrors.email">
                                {{ error }}
                            </li>
                            <li *ngIf="errorEmail">
                                {{ errorEmail }}
                            </li>
                        </ion-text>
                    </ion-item>

                    <!--Formulaire numéro téléphone-->
                    <ion-item disabled="{{sending}}">
                        <ion-label position="stacked" color="customsecond">
                            <ion-icon name="call" color="customsecond"></ion-icon>
                            Téléphone
                        </ion-label>
                        <div style="display: flex">
                            <ion-card class="chooseCountry" (click)="openSelectCountry($event)" style="cursor: pointer">
                                <ion-avatar>
                                    <img src="{{countriesService.selectedCountry.flag}}">
                                </ion-avatar>
                                <ion-text>
                                    {{countriesService.selectedCountry.dial_code}}
                                </ion-text>
                                <ion-icon name="caret-down"></ion-icon>
                            </ion-card>
                            <ion-input [(ngModel)]="phone" formControlName="login" type="tel"
                                       maxlength="10"></ion-input>
                        </div>
                        <ion-text color="danger" *ngIf="errorPhone">
                            <li>{{ errorPhone }}</li>
                        </ion-text>
                    </ion-item>

                    <!--Formulaire mot de passe-->
                    <ion-item disabled="{{sending}}">
                        <ion-label position="stacked" color="customsecond">
                            <ion-icon name="lock-closed" color="customsecond"></ion-icon>
                            Mot de passe
                        </ion-label>
                        <ion-input [(ngModel)]="password" formControlName="password" type="password"></ion-input>
                        <ion-text color="danger" *ngIf="formErrors.password">
                            <li *ngFor="let error of formErrors.password">
                                {{ error }}
                            </li>
                        </ion-text>
                    </ion-item>
                    <!--Confirmation mot de passe-->
                    <ion-item style="margin-bottom:20px" disabled="{{sending}}">
                        <ion-label position="stacked" color="customsecond">
                            <ion-icon name="lock-closed" color="customsecond"></ion-icon>
                            Confirmer le mot de passe
                        </ion-label>
                        <ion-input [(ngModel)]="cpassword" formControlName="cpassword" type="password"></ion-input>
                        <ion-text color="danger" *ngIf="formErrors.cpassword">
                            <li *ngIf="errorPassword">{{ errorPassword }}</li>
                        </ion-text>
                    </ion-item>

                </form>

                <ion-item lines="none">
                    <ion-text style="font-size: 15px">J'ai lu et j'accepte <a
                            style="text-decoration: underline; color: var(--ion-color-customthird); cursor: pointer"
                            (click)="openTerms()">les conditions d'utilisation et la politique de
                        confidentialité</a></ion-text>
                    <ion-checkbox slot="end" [(ngModel)]="accepteConditions"></ion-checkbox>
                </ion-item>

                <ion-button icon-start block color="customdegrade" style="width: 100%; margin: 25px 0 35px 0"
                            (click)="register()"
                            [disabled]="validForm()">
                    <ion-icon name="log-in"></ion-icon>
                    S'inscrire
                </ion-button>
            </div>
            <div id="sign-in-button" style="visibility: hidden"></div>
        </div>
    </div>
</ion-content>
<div class="indicateursPages">
    <div>
        <ion-icon color="customsecond" name="ellipse"></ion-icon>
        <ion-icon color="customsecond" name="ellipse-outline"></ion-icon>
    </div>
</div>
<!--<ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin: 10px">
    <ion-avatar style="width: 25px; height: 25px" (click)="openLanguagePopover($event)">
        <img src="{{'assets/flags/'+languageService.selected+'.png'}}">
    </ion-avatar>
</ion-fab>-->
