<ion-card (click)="ventesService.open('vente', vente.id)">
    <ion-slides [pager]="ventesService.getPlats(vente).length>1">
        <ion-slide *ngFor="let plat of ventesService.getPlats(vente)">
            <div class="pubImg"
                 [ngStyle]="{'background-image': 'url('+plat.img+')', 'height': userService.getImgHeight()}"></div>
        </ion-slide>
    </ion-slides>
    <div class="header">
        <div class="infos">
            <div class="picture" [ngStyle]="{'background-image': 'url('+getProfileImg()+')'}"></div>
            <div>
                <div>
                    <ion-text class="nom">
                        {{ventesService.getCuisine(vente).nom}}
                    </ion-text>
                    <ion-text class="distance">
                        à {{ventesService.calculateDistance(ventesService.getCuisine(vente).geoloc)}} km
                    </ion-text>
                </div>
                <div class="note">
                    <app-notation [note]="getNote(vente)"></app-notation>
                    <ion-text color="medium"> ({{ventesService.getCuisine(vente).avis.length}} évaluation<span
                            *ngIf="ventesService.getCuisine(vente).avis.length!=1">s</span>)
                    </ion-text>
                </div>
            </div>
        </div>
        <div class="horaires">
            {{ vente.horaires.debut | date:'HH:mm'}} - {{ vente.horaires.fin | date:'HH:mm'}}
        </div>
    </div>
    <div class="plats">
        <div *ngFor="let plat of ventesService.getPlats(vente)">
            <ion-text>- {{plat.nom}}</ion-text>
            <ion-text>{{plat.prix}} €</ion-text>
        </div>
    </div>
</ion-card>
