.pubImg{
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: var(--ion-color-dark);
  .infos{
    text-align: left;
    display: flex;
    align-items: center;
    .picture{
      height: 50px;
      width: 50px;
      margin-right: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 100%;
    }
    .nom{
      font-weight: bold;
      font-size: 16px;
    }
    .distance{
      color: var(--ion-color-medium)
    }
    .note{
      display: flex;
      align-items: center;
    }
  }
  .horaires{
    border-radius: 100%;
    height: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: end;
    img{
      height: 19px;
      width: 19px;
      margin-left: 5px;
    }
  }
}

.plats{
  color: var(--ion-color-dark);
  padding: 0 10px 10px 10px;
  div{
    display: flex;
    justify-content: space-between;
  }
}
