<div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; background: #ffa07a; padding: 20px">
  <div style="font-size: 20px">Retour à la page principale</div>
  <div style="padding: 20px 0" *ngIf="validated=='yes'">Votre compte Stripe a bien été associé à votre compte CookDay...</div>
  <div style="padding: 20px 0" *ngIf="validated=='no'">Votre compte Stripe n'a pas pu être associé à votre compte CookDay...</div>
  <ion-button *ngIf="validated=='no'" (click)="goStripe()" color="primary">Configurer Stripe</ion-button>
  <ion-button *ngIf="validated!=''" (click)="goPrincipale()" color="medium">Retourner à l'accueil</ion-button>
  <img src="assets/images/valider.svg">
</div>
