<div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; background: var(--ion-color-customsecond); padding: 20px">
    <div style="font-size: 20px">Association à Stripe</div>
    <div style="padding: 20px 0">Vous allez être redirigé vers Stripe pour la création ou l'association de votre compte...</div>
    <ion-spinner *ngIf="!showButton"></ion-spinner>
    <ion-button *ngIf="showButton" (click)="goPrincipale()">Retourner à l'accueil</ion-button>
    <img src="assets/images/valider.svg">
</div>
