ion-title{
  text-align: center;
  font-size: 14px;
}

.content{
  padding: 15px;

  .center{
    display: flex;
    justify-content: center;
    margin: 30px;

    .cuisineImg {
      height: 150px;
      width: 150px;
      border-radius: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    ion-text{
      text-align: center;
    }

    .noteImg{
      height: 40px;
      width: 40px;
      margin: 10px;
    }
  }
  ion-button{
    width: 100%;
    text-transform: unset;
  }

  ion-textarea{
    box-shadow: 0 2px 5px var(--ion-color-medium);
  }
}
