<ion-fab vertical="top" horizontal="start">
    <ion-icon name="arrow-back" color="medium" size="large" (click)="back()"></ion-icon>
</ion-fab>
<ion-header>
    <ion-toolbar>
        <ion-title>Commande {{id.substring(0, 5).toUpperCase()}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content">
        <div class="center">
            <div class="cuisineImg" [ngStyle]="{'background-image': 'url('+cuisine().photos[0]+')'}"></div>
        </div>
        <div class="center">
            <ion-text>Qu'avez vous pensé de votre commande à <b>{{cuisine().nom}}</b> ?</ion-text>
        </div>
        <div class="center">
            <div *ngFor="let item of [].constructor(5); let i = index">
                <ion-icon class="noteImg" [name]="'star'+ (note>=i+1 ? '' : '-outline')" (click)="note=i+1" color="customfirst"></ion-icon>
            </div>
        </div>
        <ion-textarea [(ngModel)]="remarque" type="text" placeHolder="Ajouter une remarque" rows="6"></ion-textarea>
        <div class="center">
            <ion-text color="danger" (click)="signaler()">Signaler un problème avec ma commande</ion-text>
        </div>
        <ion-button color="success" [disabled]="note==0" (click)="noter()">Valider</ion-button>
    </div>
</ion-content>
