<ion-header>
    <ion-toolbar color="customthird">
        <div style="display: flex; align-items: center">
            <ion-icon class="pointer" name="arrow-back" color="light" size="large" (click)="back()" style="margin: 0 10px"></ion-icon>
            <ion-text>A propos</ion-text>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="width: 100%; height: 100%; display: flex; justify-content: center; padding: 20px">
        <div class="maxWidth" style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center">
            <img style="max-width: 60%; max-height: 350px;" src="assets/Logo_COOKDAY_Blanc.svg">
            <div style="font-size: 25px; padding: 20px" *ngIf="actualVersion && actualVersion!=''">
                <ion-text color="light">{{actualVersion}}</ion-text>
            </div>
            <ion-card style="width: 100%">
                <ion-item class="pointer" lines="none" (click)="openWhaleX()">
                    <ion-icon name="phone-portrait" slot="start"></ion-icon>
                    <ion-text>
                        Développé par <a
                            href="https://website.whalex.fr/">WhaleX</a> avec
                    </ion-text>
                    <ion-icon style="margin-left: 5px" name="heart" color="danger"></ion-icon>
                </ion-item>
                <ion-item lines="none">
                    <img src="assets/images/playStore.png" style="width: 24px; margin-right: 25px;">
                    <ion-chip>Noter CookDay</ion-chip>
                    <ion-chip (click)="openOtherApps()">Autres applications de WhaleX</ion-chip>
                </ion-item>
            </ion-card>
            <ion-card style="width: 100%; padding: 10px">
                <ion-card-title>
                    Crédits
                </ion-card-title>
                <ion-item class="pointer" lines="none" (click)="openCompso()">
                    <ion-avatar slot="start">
                        <img src="assets/images/compso.png">
                    </ion-avatar>
                    <ion-text>
                        Visuels réalisés par <a href="https://compso.myportfolio.com/">Compso</a>
                    </ion-text>
                </ion-item>
            </ion-card>
        </div>
    </div>
</ion-content>
