<ng-container *ngIf="elementsOptions?.clientSecret">
    <ngx-stripe-payment
            [appearance]
            [elementsOptions]="elementsOptions">
    </ngx-stripe-payment>
    <ion-button style="width: 100%" color="customsecond" (click)="pay()">Valider</ion-button>
</ng-container>
