ion-header {
  ion-icon {
    width: 25px;
    height: 25px;
    margin-left: 15px;
  }
}

.mainContent {
  padding: 0 15px 15px 15px;

  .title {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 30px;
  }

  ion-input{
    border-bottom: 1px lightgray solid;
  }

  .item{
    margin: 15px 0;
  }
}
