<ion-header>
  <ion-toolbar>
    <ion-icon class="pointer" name="arrow-back" color="medium" (click)="back()" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 100%; height: 100%; display: flex; justify-content: center">
    <div class="maxWidth">
  <div class="mainContent">
    <div class="title">
      <div>Modifier mon mot de passe</div>
    </div>
    <div class="item">
      <div class="label">Mot de passe actuel</div>
      <div class="value">
        <ion-input [(ngModel)]="mdp" (ionInput)="mdpError=''" type="password"></ion-input>
      </div>
      <div class="label" style="color: var(--ion-color-danger)" *ngIf="mdpError.length">{{mdpError}}</div>
    </div>
    <div class="item">
      <div class="label">Nouveau mot de passe</div>
      <div class="value">
        <ion-input [(ngModel)]="newMdp" (ionInput)="newMdpError=''" type="password"></ion-input>
      </div>
      <div class="label" style="color: var(--ion-color-danger)" *ngIf="newMdpError.length">{{newMdpError}}</div>
    </div>
    <div class="item" style="display: flex; justify-content: center; margin: 15px 0;">
      <ion-button style="width: -webkit-fill-available;" [disabled]="!mdp.length || !newMdp.length" (click)="changeMdp()">Valider</ion-button>
    </div>
  </div>
    </div>
  </div>
</ion-content>
