<ion-content>
    <div class="titre">Ajouter un élément</div>
    <div class="categorie" *ngFor="let cat of ventesService.order">
        <div *ngFor="let plat of ventesService.maCuisine().menu[ventesService.retirerAccents(cat)]; let i=index"
             (click)="addPlat(cat, plat)">
            <div *ngIf="!dejaDansVente(cat, plat)" class="commande-item">
                <div style="display: flex; align-items: center">
                    <div class="commandeImg" [ngStyle]="{'background-image': 'url('+plat.img+')'}"></div>
                </div>
                <div class="infos-commande">
                    <ion-text>{{plat.nom}}</ion-text>
                    <div class="flexHorizontal">
                        <ion-text color="medium">{{ventesService.getIngredients(plat)}}</ion-text>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
