ion-content{
  --padding-bottom: 15px;
  --padding-top: 15px;
  --padding-start: 15px;
  --padding-end: 15px;

  .titre{
    width: 100%;
    text-align: center;
    font-weight: bold;
  }

  .categorie{
    width: 100%;
    padding: 0 15px;
    text-align: start;
    display: flex;
    flex-direction: column;

    .commande-item {
      display: flex;
      width: 100%;
      padding: 15px 0;

      .commandeImg {
        width: 75px;
        height: 75px;
        margin-right: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .infos-commande {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--ion-color-medium);
      }
    }
  }
}
