.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: 0.2s slide-up !important;
  background: white;

  .trait {
    border-top: 1px solid var(--ion-color-medium);
    width: 50px;
  }

  .cuisine {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .nom {
      font-weight: bold;
    }

    div {
      color: var(--ion-color-medium);
      display: flex;
      align-items: center;
      font-size: 12px;
      margin-top: 5px;
    }

    .chat {
      position: absolute;
      right: 15px;
    }
  }

  .plats {
    width: 100%;
    border-bottom: 1px solid var(--ion-color-medium);

    .plat {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid var(--ion-color-medium);
      padding: 15px 0;

      .start {
        .nom {
        }

        .remarque {
          color: var(--ion-color-medium);
          margin-left: -8px;
          margin-bottom: -10px;
          font-size: 14px;
        }
      }

      .end {
        display: flex;
        width: 140px;
        justify-content: space-between;

        .compteur {
          display: flex;
          align-items: center;

          ion-icon {
            color: var(--ion-color-customthird);
            height: 30px;
            width: 30px;
          }

          ion-text {
            margin: 0 5px;
          }
        }
      }
    }
  }

  .ajout {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 5px 0;

    ion-toggle {
    }

    ion-text {
      color: var(--ion-color-medium);
      font-size: 12px;
    }
  }

  ion-button {
    width: 100%;
    text-transform: capitalize;
  }

  .commander {

  }

  .ajouterPlats {

  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
