<div class="content">
    <div class="trait"></div>
    <div class="cuisine" (click)="openCuisine()">
        <ion-text class="nom">{{ventesService.cuisines[userService.user.panier.cuisine].nom}}</ion-text>
        <div class="date">
            <span *ngIf="isToday()">Aujourd'hui</span>
            <span *ngIf="isTomorrow()">Demain</span>
            <span *ngIf="!(isToday()||isTomorrow())">{{ventesService.ventes[userService.user.panier.vente].date | date:'dd MMMM'}}</span>
            , {{ventesService.ventes[userService.user.panier.vente].horaires.debut  | date:'HH:mm'}} - {{ventesService.ventes[userService.user.panier.vente].horaires.fin | date:'HH:mm'}}</div>
        <!--<div>
            <ion-icon name="location-outline" color="medium" size="small"></ion-icon>
            <ion-text>{{ventesService.cuisines[userService.user.panier.cuisine].adresse}}</ion-text>
        </div>-->
        <ion-icon class="chat" name="chatbubble-ellipses-outline" size="large" (click)="openChat();$event.stopPropagation()"></ion-icon>
    </div>
    <div class="plats">
        <div class="plat" *ngFor="let plat of ventesService.getPlats(userService.user.panier)">
            <div class="start">
                <div class="nom">{{plat.nom}}</div>
                <div class="remarque">
                    <ion-input [(ngModel)]="plat.remarque" placeholder="Ajouter une remarque" (ionBlur)="save()"></ion-input>
                </div>
            </div>
            <div class="end">
                <div class="compteur">
                    <ion-icon name="remove-circle" (click)="platMoins(plat)"></ion-icon>
                    <ion-text>{{plat.quantite}}</ion-text>
                    <ion-icon name="add-circle" (click)="platPlus(plat)" [ngStyle]="{'opacity': maxOpacity(plat)}"></ion-icon>
                </div>
                <div class="prix">
                    {{ventesService.prixFormat(plat.prix*plat.quantite)}} €
                </div>
            </div>
        </div>
    </div>
    <div class="ajout">
        <ion-toggle [(ngModel)]="userService.user.panier.ajoutCouvertsServiettes" color="customthird" (ionChange)="userService.updatePanier()"></ion-toggle>
        <ion-text [ngStyle]="{'color': couleurCouverts()}">Ajouter des couverts et serviettes à ma commande</ion-text>
    </div>
    <ion-button class="commander" color="customthird" [disabled]="ventesService.getPlats(userService.user.panier).length==0" (click)="openFinaliserCommande()">Commander : {{ventesService.prixFormat(ventesService.total(userService.user.panier))}} €</ion-button>
    <ion-button class="ajouterPlats" color="medium">Ajouter des plats</ion-button>
</div>
