/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.header-md::after {
  display: none;
}

ion-button{
  text-transform: none;
}

.indicateursPages{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  //z-index: -1;laucnh
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ion-button{
    margin-bottom: 10px;
    width:100%;
    height: 50px;
    ion-icon{
      margin-right:5px
    }
  }
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    ion-icon{
      width: 25px;
      height: 25px;
      margin: 5px;
    }
  }
}

.horizontalAlign{
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalAlign {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.flexHorizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.panier-popover .popover-content {
  width: 100%;
  height: fit-content !important;
  bottom: 0 !important;
  left: 0 !important;
  top: auto !important;
  background: transparent;
}

.plat-popover .popover-content {
  width: 80%;
  /*height: fit-content !important;
  bottom: 0 !important;
  left: 0 !important;
  top: auto !important;
  background: transparent;*/
}

.adresse-popover .popover-content {
  width: 90%;
  top: 10% !important;
  height: fit-content !important;
}

.my-notify-css .modal-wrapper {
  height: 15%;
  width: 98%;
  top: 84%;
  position: absolute;
  display: block;
  box-shadow: 1px 2px 2px darkgrey;
}

.color-medium{
  color: var(--ion-color-medium) !important;
}

.color-danger{
  color: var(--ion-color-danger) !important;
}

.color-first{
  color: var(--ion-color-customfirst) !important;
}

.ion-color-customfirst {
  --ion-color-base: var(--ion-color-customfirst);
  --ion-color-base-rgb: var(--ion-color-customfirst-rgb);
  --ion-color-contrast: var(--ion-color-customfirst-contrast);
  --ion-color-contrast-rgb: var(--ion-color-customfirst-contrast-rgb);
  --ion-color-shade: var(--ion-color-customfirst-shade);
  --ion-color-tint: var(--ion-color-customfirst-tint);
}

.ion-color-customsecond {
  --ion-color-base: var(--ion-color-customsecond);
  --ion-color-base-rgb: var(--ion-color-customsecond-rgb);
  --ion-color-contrast: var(--ion-color-customsecond-contrast);
  --ion-color-contrast-rgb: var(--ion-color-customsecond-contrast-rgb);
  --ion-color-shade: var(--ion-color-customsecond-shade);
  --ion-color-tint: var(--ion-color-customsecond-tint);
}

.ion-color-customdegrade {
  --ion-color-base: radial-gradient(#ff9c05, #ff4e00);
  --ion-color-base-rgb: radial-gradient(#ff9c05, #ff4e00);
  --ion-color-contrast: var(--ion-color-customsecond-contrast);
  --ion-color-contrast-rgb: var(--ion-color-customsecond-contrast-rgb);
  --ion-color-shade: var(--ion-color-customsecond-shade);
  --ion-color-tint: var(--ion-color-customsecond-tint);
}

.ion-color-customthird {
  --ion-color-base: var(--ion-color-customthird);
  --ion-color-base-rgb: var(--ion-color-customthird-rgb);
  --ion-color-contrast: var(--ion-color-customthird-contrast);
  --ion-color-contrast-rgb: var(--ion-color-customthird-contrast-rgb);
  --ion-color-shade: var(--ion-color-customthird-shade);
  --ion-color-tint: var(--ion-color-customthird-tint);
}

.maxWidth{
  max-width: 600px;
  width: -webkit-fill-available;
}

.pointer{
  cursor: pointer;
}
