ion-header {
  background: white;
  padding: 15px;
}

ion-content {
  --padding-bottom: 15px;
  --padding-top: 15px;
  --padding-start: 15px;
  --padding-end: 15px;

  .titre {
    font-weight: bold;
    font-size: 25px;
    margin: 0 10px 30px 10px;
    text-align: center;
  }

  .cuisine {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .nom {
      font-weight: bold;
    }

    div {
      color: var(--ion-color-medium);
      display: flex;
      align-items: center;
      font-size: 12px;
      margin-top: 5px;
    }
  }

  .plat {
    padding: 10px 0;

    .start {
      ion-badge {
        margin-right: 10px;
      }

      .remarque {
        color: var(--ion-color-medium);
        font-size: 14px;
      }
    }
  }

  .largeButton {
    width: 100%;
    margin: 15px 0;

    ion-icon {
      margin-right: 5px;
    }
  }

  .total{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 20px;
  }

  .ouPayezParCarte {
    color: var(--ion-color-medium);
    text-align: center;
    margin: 30px 0;

    ion-text {
      overflow: hidden;
      text-align: center;
    }

    ion-text:before,
    ion-text:after {
      background-color: var(--ion-color-medium);
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }

    ion-text:before {
      right: 0.5em;
      margin-left: -50%;
    }

    ion-text:after {
      left: 0.5em;
      margin-right: -50%;
    }
  }

  .carte{
    img{
      height: 30px;
    }
  }

  .hour{
    padding: 10px;
    margin: 0 10px;
    box-shadow: 0px 0px 5px var(--ion-color-medium);
    border-radius: 5px;
  }
}
