<ion-header>
    <ion-icon name="arrow-back" color="dark" size="large" (click)="back()"></ion-icon>
</ion-header>

<ion-content>
    <div class="titre">
        <ion-text>
            Finaliser commande
        </ion-text>
    </div>

    <div class="flexHorizontal" style="margin-bottom: 15px">
        <ion-text>Heure de récupération</ion-text>
        <ion-datetime class="hour"
                      (ionChange)="changeHeureRecup($event)"
                      [value]="heureRecup"
                      name="hour"
                      display-format="H:mm"
                      picker-format="H : mm"
                      minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
                      cancel-text="Annuler"
                      done-text="Choisir">
            <!--<ion-datetime class="hour"
                    (ionChange)="changeHeureRecup($event)"
                          [max]="toISOString(makeDate(ventesService.ventes[userService.user.panier.vente].horaires.fin))"
                          [value]="toISOString(minus1Hour(ventesService.ventes[userService.user.panier.vente].horaires.debut))"
                          [min]="toISOString(makeDate(ventesService.ventes[userService.user.panier.vente].horaires.debut))"
                          name="hour"
                          display-format="H:mm"
                          picker-format="H : mm"
                          minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
                          cancel-text="Annuler"
                          done-text="Choisir">-->
        </ion-datetime>
    </div>

    <div class="ouPayezParCarte">
        <ion-text>Détails de la commande</ion-text>
    </div>

    <div class="cuisine">
        <ion-text class="nom">{{ventesService.cuisines[userService.user.panier.cuisine].nom}}</ion-text>
        <!--<div>
            <ion-icon name="location-outline" color="medium" size="small"></ion-icon>
            <ion-text>{{ventesService.cuisines[userService.user.panier.cuisine].adresse}}</ion-text>
        </div>-->
    </div>
    <div class="plat flexHorizontal" *ngFor="let plat of ventesService.getPlats(userService.user.panier)">
        <div class="start flexHorizontal">
            <ion-badge>{{plat.quantite}}</ion-badge>
            <div>
                <div class="nom">{{plat.nom}}</div>
                <div class="remarque">{{plat.remarque}}</div>
            </div>
        </div>
        <div class="end">
            {{ventesService.prixFormat(plat.prix * plat.quantite)}} €
        </div>
    </div>
    <div *ngFor="let plat of ventesService.getPlats(userService.user.panier)" class="plat flexHorizontal">
        <div class="start flexHorizontal">
            <div>
                <div class="nom">Frais de service</div>
            </div>
        </div>
        <div class="end">
            0.57 €
        </div>
    </div>
    <div class="total">
        <div>Total</div>
        <div>{{ventesService.prixFormat(ventesService.total(userService.user.panier)+0.57)}} €</div>
    </div>
    <div class="ouPayezParCarte">
        <ion-text>Choisissez votre mode de paiement</ion-text>
    </div>
    <app-stripe-payment
            [amount]="ventesService.total(userService.user.panier) * 100"
            [accountId]="ventesService.cuisines[userService.user.panier.cuisine].stripeAccountId"
            [heureRecup]="heureRecup"></app-stripe-payment>
<!--    <ion-button (click)="finaliserCommande()">Test commande</ion-button>-->
</ion-content>
