<ion-toolbar>
    <ion-header [ngStyle]="{'padding-top' : userService.getMargin()}">
        <ion-icon (click)="back()" color="dark" name="arrow-back" size="large"></ion-icon>
    </ion-header>
</ion-toolbar>

<ion-content>
    <div class="titre">
        <ion-text>
            Entrez les informations de votre cuisine
        </ion-text>
    </div>
    <ion-item>
        <ion-label position="stacked" color="customsecond">
            Nom de la cuisine
        </ion-label>
        <ion-input [(ngModel)]="nom" type="text" placeHolder="Nom obligatoire"></ion-input>
    </ion-item>
    <!--<ion-item (click)="presentrechercheAdresse()" class="adresse">-->
    <ion-item class="adresse" (ionBlur)="focusOut()">
        <ion-label position="stacked" color="customsecond">
            Adresse
        </ion-label>
        <!--<ion-text type="text" *ngIf="adresse!=''">{{adresse}}</ion-text>
        <ion-text type="text" *ngIf="adresse==''" color="medium">Adresse obligatoire</ion-text>-->
        <ion-input #input id="input" [(ngModel)]="autocomplete.input" (ionFocus)="inputFocused=true"
                       (ionInput)="updateSearchResults()" placeholder="Rechercher l'adresse" clearInput></ion-input>
        <ion-list [hidden]="!(autocompleteItems.length != 0 && inputFocused)">
            <div *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item);$event.stopPropagation();">
                {{ item.description }}
            </div>
        </ion-list>
    </ion-item>
    <ion-item style="z-index: 0">
        <ion-label position="stacked" color="customsecond">
            Description
        </ion-label>
        <ion-textarea #textarea id="textarea" [(ngModel)]="description" type="text" placeHolder="Description facultative"
                      rows="6"></ion-textarea>
    </ion-item>
    <div class="photos">
        <div>
            <ion-text color="customsecond">
                Mes photos
            </ion-text>
            <ion-text color="customsecond" style="float:right;">
                {{myPhotos.length}} / 3
            </ion-text>
        </div>
        <div class="scrolling-wrapper">
            <div class="footerImg" *ngFor="let photo of myPhotos; let index = index" style="margin-right: 10px">
                <ion-slide *ngIf="photo.img=='loading', else displayPhoto" style="width: 100px; height: 200px"
                           class="ion-text-center">
                    <ion-spinner class="vertical-center" name="lines"></ion-spinner>
                </ion-slide>
                <ng-template #displayPhoto>
                    <ion-slide>
                        <div style="height: 100%; width: 100%; position: absolute" (click)="photo.clicked=true"
                             *ngIf="!photo.clicked"></div>
                        <div style="height: 100%; width: 100%; position: absolute; display: flex; align-items: center; justify-content: center" *ngIf="photo.clicked">
                            <div style="height: 100%; width: 100%; background-color: red; opacity: 0.5; position: absolute;" (click)="photo.clicked=false"></div>
                            <ion-icon name="close-circle" color="light" size="large" style="z-index: 9"
                                      (click)="showDeletePhotoAlert(index)"></ion-icon>
                        </div>
                      <div class="photo" [ngStyle]="{'background-image': 'url('+photo.img+')'}" style="width: 200px; height: 200px"
                           (load)="detectChanges()"></div>
                    </ion-slide>
                </ng-template>
            </div>
            <!--<div class="footerImg" style="margin-right: 10px">
                <ion-slide>
                    <div style="height: 100%; width: 100%; position: absolute; display: flex; align-items: center; justify-content: center">
                        <div style="height: 100%; width: 100%; background-color: red; opacity: 0.5; position: absolute;"></div>
                        <ion-icon name="close-circle" color="light" size="large"
                                  (click)="showDeletePhotoAlert(index)"></ion-icon>
                    </div>
                    <img src="https://images-na.ssl-images-amazon.com/images/I/91DF0PUSTEL.jpg"
                         (load)="detectChanges()">
                </ion-slide>
            </div>
            <div class="footerImg" style="margin-right: 10px">
                <ion-slide>
                    <div style="height: 100%; width: 100%; position: absolute; display: flex; align-items: center; justify-content: center">
                        <div style="height: 100%; width: 100%; background-color: red; opacity: 0.5; position: absolute;"></div>
                        <ion-icon name="close-circle" color="light" size="large"
                                  (click)="showDeletePhotoAlert(index)"></ion-icon>
                    </div>
                    <img src="https://images-na.ssl-images-amazon.com/images/I/91DF0PUSTEL.jpg"
                         (load)="detectChanges()">
                </ion-slide>
            </div>-->
            <div class="footerImg" *ngIf="myPhotos.length<3" style="padding: 2px; height: 200px; width: 200px;"
                 (click)="openPhotoChoice()">
                <ion-slide style="display: table; border: 1px solid #3b767f">
                    <div style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
                        <ion-icon name="add" size="large" color="quaternary"></ion-icon>
                    </div>
                </ion-slide>
            </div>
        </div>
    </div>
    <div class="horizontalAlign" style="margin-bottom: 35px">
        <ion-button color="customsecond" [disabled]="buttonDisabled()" (click)="valider()">Valider</ion-button>
    </div>
    <div class="indicateursPages">
        <div>
            <ion-icon color="customsecond" name="ellipse"></ion-icon>
            <ion-icon color="customsecond" name="ellipse-outline"></ion-icon>
        </div>
    </div>
</ion-content>
